{% extends "education/base.html" %}
{% load filters %}
{% block title %}API - Bachelor Natuur- en Sterrenkunde {% endblock title %}
{% block contents %}

<h1>Bachelor Natuur- en Sterrenkunde</h1>

<p>
De bacheloropleiding Natuur- en Sterrenkunde van de Universtiteit van Amsterdam
is gestart in collegejaar 2003/2004 met de invoering van het bachelor/master systeem.
Sinds september 2010 wordt al het onderwijs aangeboden in het nieuwe gebouw van
de Faculteit Natuurwetenschappen, Wiskunde en Informatica gevestigd op het Science
Park in Amsterdam. Zo is invulling gegeven aan de wens om het onderwijs zo
goed mogelijk in contact te brengen met het (top)onderzoek dat wordt uitgevoerd
aan de verschillende natuurkundige instituten ondergebracht in het Institute of
Physics (IHEF, ITFA, WZI), het sterrenkundig instituut API en de NWO
onderzoeksinstituten NIKHEF en AMOLF. Voortbouwend op de traditie van Van der Waals,
Zeeman en Pannekoek, biedt de UvA een gefundeerde opleiding in de natuur- en sterrenkunde,
gekenmerkt door een gedegen theoretische basiskennis,
aandacht voor experiment en onderzoek,
en met een groot aanbod van verbredende en verdiepende keuzevakken.
</p>

<p>
Het onderwijsprogramma van de bachelor Natuur- en Sterrenkunde beslaat drie jaar:
het omvat een verplicht majorprogramma van 150 EC en een vrije keuzeruimte van 30 EC.
De vrije keuzeruimte kan desgewenst worden ingevuld met een minor van een andere
studierichting (of bijvoorbeeld een educatieve minor). Het 150 EC majorprogramma
bestaat uit verplichte majorvakken, majorkeuzeruimte, een workshop,
academische vaardigheden, oriëntatie en het bacherlorproject.
De verplichte majorvakken vormen het basisprogramma en zijn geroosterd in
de eerste twee jaar. Het derde jaar kan de student verder zelf invullen met
majorkeuzevakken, een workshop en het Bachelor Project.
Hiermee kan de student zich voorbereiden op een aansluitende masteropleiding.
</p>

<p>
Sterrenkunde vormt een belangrijk onderdeel van de bacheloropleiding Natuur- en sterrenkunde.
Twee majorvakken sterrenkunde zijn verplicht voor alle studenten;
elk semester kan een (keuze)vak ingevuld worden met een sterrenkunde onderdeel.
Tevens is het Anton Pannekoek Observatorium (APO) beschikbaar, de modernste sterrenwacht van Nederland.
</p>

<h2>Sterrenkunde (keuze)vakken Bachelor Natuur- en Sterrenkunde </h2>

<p>
Zie de <a href="http://studiegids.uva.nl/"> studiegids </a> voor meer informatie.

<table id="bachelor-curriculum">
<thead>
<tr>
<th>Onderwerp</th>
<th>Docent</th>
<th>Semester</th>
</tr>
</thead>
<tbody>

<tr><td colspan="3" class="subheading">Eerste jaar</td></tr>

{% for topic in classes.1 %}
<tr>
<td>{{ topic.name }}</td>
<td>{{ topic.teacher }}</td>
<td>{{ topic.semester|romanize }}</td>
</tr>
{% endfor %}

<tr><td colspan="3" class="subheading">Tweede jaar</td></tr>

{% for topic in classes.2 %}
<tr>
<td>{{ topic.name }}</td>
<td>{{ topic.teacher }}</td>
<td>{{ topic.semester|romanize }}</td>
</tr>
{% endfor %}

<tr><td colspan="3" class="subheading">Derde jaar</td></tr>

{% for topic in classes.3 %}
<tr>
<td>{{ topic.name }}</td>
<td>{{ topic.teacher }}</td>
<td>{{ topic.semester|romanize }}</td>
</tr>
{% endfor %}

</tbody>
</table>


<h2>Projecten</h2>

<p>Er is een <a href="{% url 'education:projects-index' %}">lijst van projecten</a> die bachelor- en masterstudenten kunnen doen.</p>

<h2>Contact</h2>

<p>
De bachelor programmacoordinator is
<a href="mailto:L.Kaper@uva.nl">Prof. dr. Lex Kaper</a>.
</p>


{% endblock contents %}
