{% extends "education/base.html" %}
{% load filters %}
{% block title %}API - Education{% endblock title %}
{% block contents %}

<h1>Education in Astronomy & Astrophysics</h1>

</p>
&quot;How can you know so much about the Universe,
just from a few dots in sky?&quot;
That is what it is all about in astronomy.
The physical information contained in the light we receive
from stars and distant galaxies provides answers to questions
about exoplanets, the evolution of stars,
the structure of galaxies and the origin of the Universe.
Astronomy is a science where there is still a lot to discover:
what do you think about dark matter, dark energy and
the possible presence of life on other planets than Earth?
</p>

<p>
At the University of Amsterdam, the educational program in
Astronomy & Astrophysics is organized by staff members of
the Anton Pannekoek Institute for Astronomy, part of the Faculty of Science.
The Bachelor astronomy program is included in the 3-year
<a href="http://www.student.uva.nl"> Bachelor Physics & Astronomy </a>
 (in Dutch): you follow courses in astronomy,
as well as in physics and math.
With a Bachelor Physics & Astronomy you can continue with
the <a href="http://www.student.uva.nl"> Master Astronomy & Astrophysics </a>
for another two years.
</a>

<!--
<p>
In the second bachelor year, you do a project which gets you acquainted with actual research. That's the year when you decide whether you specialise in astronomy. Only in the third year, this choice is definite; you finish the third year with another project, the bachelor project.
</p>

<p>
The fourth and fifth year, you can then continue with a <a href="{% url 'education:master' %}">master study</a>.
</p>
-->

{% endblock contents %}
