{% extends "education/base.html" %}
{% load filters %}
{% block title %}API - Master education{% endblock title %}
{% block contents %}

<h1>Masterprogramme Astronomy & Astrophysics</h1>


<h2>Research</h2>

<p>
The Anton Pannekoek Institute was founded in 1921. It has a long track record of world leading research in both observational and theoretical astronomy. The institute's staff is very international in composition, with staff and students collaborating in an informal and open atmosphere. The institute participates in NOVA, the Netherlands researchschool for astronomy in which astronomers of the Dutch universities work closely together. The institute carries out a research programme connected with the life cycle of stars: from the birth of stars and planetary systems to the late stages of stellar evolution, including the physics connected with compact stars (neutron stars, black holes) and their formation mechanisms (e.g. gamma ray bursts) . Use is made of the most advanced international observing facilities, both ground based (e.g. The Very Large Telescope of the European Southern Observatory in Chile) as well as in space (Hubble Space Telescope, Chandra, XMM Newton etc.).
</p>

<h2>Education</h2>

<p>
The programme is aimed at attracting students with a B.Sc. in astronomy or physics, and offers a programme of two years duration that provides a basic training in both the observational and theoretical aspects of modern astronomy and astrophysics. Students lacking a basic training in astronomy may be admitted to our masterprogramme under condition that they acquire the relevant knowledge before the actual start of the programme. The programme focuses on research, but it should not only be considered as a training for future Ph.D. students. The students who complete it will have developed the academic skills that will make them valuable for jobs in industry, consultancy etc. There is also the general possibility of choosing the non-research CE or M-variant.
</p>

<h2>Programme O-variant</h2>

<p>
Each year is divided into 2 semesters. There are 4 obligatory basic astronomy courses, two of these are given in the first semester of each year. The students must also choose (preferably in their first year) two of the optional astronomy courses given in the second semester of each year. During part of the first semester the students take part in an observing run at the international La Palma observatory. The students start with a research project of their choice already in the second semester of the first year. In the second year this research project is the most important part of the master programme. The students participate in the regular meetings of their researchgroup and attend the regular institute's seminars on Fridays. The research project is finished in the second year with a Master thesis and a seminar given by the student.
</p>

<h2>Programme CE/M-variant</h2>

<p>
Students following the CE/M variant follow the obligatory courses `Structure and Evolution of Stars' and `Cosmology'. They choose, after consulting the Master coordinator, 2 more astronomy courses from the list of obligatory or optional astronomy courses. It is also possible to replace one of these optional courses by the `Observation Project'. The Research Project (30 ECTS) is reduced compared to the O-variant students and is also finished by a Master thesis and oral presentation.
</p>

<h2>Contact</h2>

<p>
The master programme coordinator is
<a href="mailto:Dominik@uva.nl">Prof. dr. C. Dominik</a>.
</p>


{% endblock contents %}
