{% url 'education:index' as education_index %}
{% url 'education:bachelor' as url_bachelor %}
{% url 'education:master' as url_master %}
{% url 'education:projects-index' as projects_index %}
{% url 'publiek:studie' as publiek_studie %}

<ul>
<li><a {% ifequal request.path education_index %}class="active" {% endifequal %}href="{{ education_index }}">Education</a>
<ul>
<li><a {% ifequal request.path url_bachelor %}class="active" {% endifequal %}href="{{ url_bachelor }}">Bachelor</a></li>
<li><a {% ifequal request.path url_master %}class="active" {% endifequal %}href="{{ url_master }}">Master</a></li>
<li><a {% ifequal request.path projects_index %}class="active" {% endifequal %}href="{{ projects_index }}">Projects</a></li>
<li><a {% ifequal request.path publiek_studie %}class="active" {% endifequal %}href="{{ publiek_studie }}">Scholieren</a></li>
</ul>
</li>
</ul>
