{% load i18n %}{% autoescape off %}{% blocktrans %}Dear {{ full_name }},

You're receiving this email because we reset the password for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username is:" %} {{ user.get_username }}

Kind regards, 

Secretariat Anton Pannekoek Institute for Astronomy
University of Amsterdam
+31 (0)20 525 7491
{% endautoescape %}
