{% extends "jobs/base.html" %}
{% block title %}API - Vacancies{% endblock title %}
{% block contents %}
<h1>Vacancies at the API</h1>

<ul>
{% for object in object_list %}
   <h2>{{ object.title }}</h2>
    <p>{{ object.teaser }}</p>
    <a href="{{ object.get_absolute_url }}">Read more</a>
    <p>{% if object.deadline %}Deadline: {{ object.deadline|date:"j F Y" }}
    <br />{% endif %}
    {% if object.contact %}Contact: {{ object.contact|urlize }}{% endif %}
    </p>
{% empty %}
    <p>There are no jobs at the moment.</p>
{% endfor %}
</ul>

{% if perms.jobs.change_job and perms.jobs.add_job %}<div class="edit"><a href="{% url 'admin:index' %}jobs/job/add/">add</a> | <a href="{% url 'admin:index' %}jobs/job/">edit</a></div>{% endif %}

{% endblock contents %}
