appdirs==1.4.3
appnope==0.1.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.4.17
chardet==3.0.4
colorama==0.3.9
decorator==4.0.11
Django==1.11.2
django-ajax-selects==1.6.0
django-autoslug==1.9.3
django-bootstrap3==8.2.3
django-cities-light==3.3.0
django-countries==4.6.1
django-crispy-forms==1.6.1
django-extensions==1.7.9
django-filebrowser-no-grappelli==3.7.2
django-nested-inline==0.3.7
django-tinymce4-lite==1.4.1
flickrapi==2.3
idna==2.5
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
jsonfield==2.0.2
Markdown==2.6.8
mod-wsgi==4.5.15
mysqlclient==1.3.10
oauthlib==2.0.2
olefile==0.44
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
progressbar2==3.30.2
prompt-toolkit==1.0.14
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-utils==2.1.0
pytz==2017.2
reportlab==3.4.0
requests==2.18.1
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
Unidecode==0.4.20
urllib3==1.21.1
URLObject==2.4.3
wcwidth==0.1.7
wget==3.2
xlrd==1.0.0
xlwt==1.2.0
