{% extends 'base.html' %}
{% load static %}

{% block stylesheets %} {{ block.super }}
<link href="/tinymce/css/" type="text/css" media="all" rel="stylesheet" />
<script>function djangoFileBrowser(field_name, url, type, win) { return false;}</script>
<script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
{% endblock stylesheets %}

{% block title %} API - Alumni - Survey {% endblock title %}

{% block content %}

<div class="col-xs-12 main-content" role="main" style="width: 100%">
    <h1 class="text-center"> API Alumni Survey (6/6) </h1>

    <div id="contact-form-wrapper" class="text-justify col-xs-12 col-sm-8 col-sm-offset-2 ">
        <div>
            <h3> Career Information of <a href="{% url 'alumni:alumnus-detail' request.user.slug %}" target="blank", style="color: black;">{{ request.user.full_name }}</a> <br></h3>
            <br>
            Please provide us information regarding your <strong>third</strong> job after leaving the API. <br>
            <br>
            Note that all of the fields are optional, thus, you can leave any number of them blank! The provided information in this specific form will only be available for the API secretary and possible used for anonymised statistics. If you choose to show this job it will be included on your personal page.
            <br>
            <h4 class="text-center"> Note: Only fill in this form if your occupation is outside the API! <br>
            If you are still an active API, please use 'Finish Survey' </h4>
        </div>

        <br>

        <div class="col-xs-12">
            <form class="form-horizontal col-sm-12" role="form" action="{% url 'survey:careerinfo_third' %}" method="post"> {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        Please check the input in the following field(s):
                        {% for error in form.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% for field in form.visible_fields %}

                    {% if forloop.counter == 1 %}
                    <legend> Third job after leaving API </legend>
                    {% endif %}

                    {% if field.errors %}
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        {{ field.label_tag }} {{ field }}

                        {% if field.errors %}
                        <i class="glyphicon glyphicon-remove form-control-feedback"></i>
                        <div class="alert alert-danger">
                            {% for error in field.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" name="prev" class="btn btn-success pull-left" value="Previous">
                <input type="submit" name="next" class="btn btn-success pull-right" value="Finish Survey">

                </form>
        </div>
    </div>
</div>
{% endblock %}
