{% extends "apo/base.html" %}
{% load news_filters %}
{% block title %}The Anton Pannekoek Observatory{% endblock title %}


{% block contents %}

<h1>The Anton Pannekoek Observatory</h1>

<p>
<img style="float: left; height: 250px; margin-right: 2em;" src="{{ STATIC_URL }}apo/images/API_logo_color.png" />
The Anton Pannekoek Observatory is located right on top of the institute, on the roof of the faculty building. It features two domes, which contain several telescopes. Next to the domes is the platform where ten 10cm refractor telescopes can be set up.
</p>

<p>
<ul>
 <li> <a href="{% url 'apo:51cm' %}">Our 51cm-mirror telescope</a> </li>
 <!-- li> <a href="{% url 'apo:solar' %}"></a> </li -->
 <li> <a href="{% url 'apo:practicum' %}">The 10cm refractor telescopes</a> </li>
 <li> <a href="{{ STATIC_URL }}apo/documents/ApoSterrenkoepel.pdf">Brochure Sterrenkoepel (in dutch)</a> </li>
 <li> <a href="{{ STATIC_URL }}apo/documents/ApoPoster.pdf">Poster about student science at APO presented at NAC 2011 and Noordwijkerhout 2012</a> </li>
</p>


{% endblock contents %}
