{% url 'wiki2:view2' name="main-wikipage" as wiki_main %}
{% url 'wiki2:all2' as wiki_allpages %}
{% url 'wiki2:view2' name="help-editing-wikipage" as wiki_editing %}

<ul>
  <li>  <a {% ifequal request.path wiki_main %}class="active" {% endifequal %}href="{{ wiki_main }}">Wiki</a>
    <ul>
      <li> <a {% ifequal request.path wiki_allpages %}class="active" {% endifequal %}href="{{ wiki_allpages }}">List of all pages</a> </li>
      <li> <a {% ifequal request.path wiki_editing %}class="active" {% endifequal %}href="{{ wiki_editing }}">Help on editing</a> </li>
    </ul>
  </li>
</ul>
