{% extends "publiek/base.html" %}
{% block title %}API - educatieve activiteiten{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'publiek:educatie' %}">Educatieve Activiteiten</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>Educatieve Activiteiten</h1>

<h2>VO-activiteiten</h2>

<p>
De Its academy biedt havo- en vwo-leerlingen activiteiten op
het gebied van sterrenkunde voor het voortgezet onderwijs (VO).
</p>

<p>
Huidige activiteiten op het gebied van sterrenkunde zijn: </br>
De masterclass ‘Jupiter en zijn manen’ </br>
Het online lab ‘Supertelescoop’ </br>
De e-klas ‘Meten aan melkwegstelsels’ </br>
De e-klas ‘Zonnestelsel en heelal’  </br>
De e-klas ‘Straling en materie’
</p>

<p>
De activiteiten zijn bedoeld voor de onder- en bovenbouw én hun docenten.
Het zijn klassikale en individuele activiteiten die thuis, op school of
aan het Anton Pannekoek Instituut worden uitgevoerd. Meer informatie over
deze activiteiten is te vinden op de website
<a href="http://www.itsacademy.nl/">www.itsacademy.nl</a>
of kan worden aangevraagd door een e-mail te sturen naar
<a href="mailto:a.groeneveld@uva.nl">a.groeneveld@uva.nl</a>.
</p>

<!--
<p>
Ook bestaat de mogelijkheid om een profielwerkstuk uit te voeren aan de UvA.
De procedure staat beschreven op
<a href="http://betaonderwijs.uva.nl/fnwi-voor-leerlingen/onderwijs/profielwerkstuk/profielwerkstuk.html">
http://betaonderwijs.uva.nl/fnwi-voor-leerlingen/onderwijs/profielwerkstuk/profielwerkstuk.html</a>.
</p>
-->

<p>
Daarnaast wordt op <a href="http://www.astronomie.nl/">www.astronomie.nl</a>
educatief materiaal aangeboden door de Nederlandse Onderzoekschool voor Astronomie,
waarvan het Anton Pannekoek Instituut deel uitmaakt. Dit materiaal is te gebruiken
in het primair en het voortgezet onderwijs, en is bedoeld voor verschillende niveaus.
</p>


{% endblock contents %}
