{% extends "publiek/base.html" %}
{% block title %}API - Sterrenkunde Links{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'publiek:educatie' %}">Sterrenkunde Links</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>Sterrenkunde Links</h1>


<p>
Universitaire instituten in Nederland </br>
<a href="http://www.astro.uva.nl/"> www.astro.uva.nl </a> </br>
<a href="http://www.astro.rug.nl/"> www.astro.rug.nl </a> </br>
<a href="http://www.astro.ru.nl/"> www.astro.ru.nl </a> </br>
<a href="http://www.strw.leidenuniv.nl/"> www.strw.leidenuniv.nl </a>
</p>


<p>
Onderzoeksinstituten in Nederland  </br>
<a href="http://www.nova-astronomy.nl/"> www.nova-astronomy.nl </a> </br>
<a href="http://www.astron.nl/"> www.astron.nl </a> </br>
<a href="http://www.sron.nl/"> www.sron.nl </a>
</p>


<p>
Sterrenkunde in Nederland  </br>
<a href="http://www.astronomie.nl/"> www.astronomie.nl </a>
</p>


<p>
Amateur verenigingen  </br>
<a href="http://sterrenkunde.nl/knvws/"> sterrenkunde.nl/knvws </a> </br>
<a href="http://www.sterrenkunde.nl/jwg/"> www.sterrenkunde.nl/jwg </a>  </br>
<a href="http://www.volkssterrenwachtamsterdam.nl/"> www.volkssterrenwachtamsterdam.nl </a>
</p>


<p>
Specialistische sites  </br>
<a href="http://www.pulsars.nl/"> www.pulsars.nl </a>
</p>


{% endblock contents %}
