{% extends "publiek/base.html" %}
{% block title %}API - Studie{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'publiek:studie' %}">Studie</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>Studie</h1>

<h2>Sterrenkunde studeren aan de UvA</h2>

<p>
Sterrenkundigen bestuderen de bouw en evolutie van het heelal en van
de sterren, planeten en sterrenstelsels die het heelal bevolken.
Met behulp van steeds sterkere telescopen en ruimtesondes die steeds
verder kunnen reizen bestuderen ze verschijnselen in de ruimte,
bijvoorbeeld hoe planeten worden geboren en wat zwarte gaten zijn.
Aan de hand van wiskundige en natuurkundige modellen en theorieën
proberen ze verschijnselen in de ruimte te begrijpen en te verklaren.
</p>

<p>
Bij Sterrenkunde aan de Universiteit van Amsterdam, een hoofdrichting van
de bachelor Natuur- en Sterrenkunde, maak je kennis met de nieuwste
ontwikkelingen en waarnemingstechnieken in het vak. Dus als je gefascineerd
bent door de raadselen van de ruimte en het ons omringende heelal,
dan is de bachelor Natuur- en Sterrenkunde een goede keuze.
</p>

<p>
Meer informatie over de bachelor Natuur- en Sterrenkunde is te vinden op de
website <a href="http://www.uva.nl/onderwijs/bachelor/bacheloropleidingen/item/sterrenkunde.html"> http://www.uva.nl/onderwijs/bachelor/bacheloropleidingen/item/sterrenkunde.html</a>.
Gedetailleerde informatie over het sterrenkunde-programma staat ook op
<a href="http://www.astro.uva.nl/education/"> http://www.astro.uva.nl/education/</a>.
</p>

<!--
<h2>Projecten</h2>

<p>
Lijst met projecten &amp; contact personen.
</p>
-->

{% endblock contents %}
