{% extends "publiek/onderzoek/base.html" %}
{% block title %}API - planeetvorming & exoplaneten{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'publiek:exoplaneten' %}">Planeetvorming & Exoplaneten</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>Planeetvorming & Exoplaneten</h1>

<h2>Protoplanetaire schijven & Stof </h2>

<p>
De ruimte tussen de sterren en planeten is niet leeg
maar zit vol met stof en gas. Dit noemen we het interstellaire medium.
Stof vormt zich in de buitenste lagen van geevolueerde sterren (bijv. planetaire nevels),
waarna het zich vermengt zich met het interstellaire medium.
Wanneer grote wolken van interstellair gas en stof samentrekken
worden sterren met hun bijbehorende planetenstelsel gevormd.
De aanwezigheid van stof is belangrijk voor de vorming van planeten.
Planeten ontstaan doordat kleine stofdeeltjes tegen elkaar botsen
en blijven plakken. Deze deeltjes groeien op deze manier en
uiteindelijk is het idee dat via dit proces planeten worden gevormd.
Rond een pasgeboren ster vormt zich
een zogenaamde protoplanetaire schijf, waarin het gas en
stof om de ster roteert.
De stofdeeltjes in deze schijf botsen en groeien verder
tot uiteindelijk planeten.
Tegen de tijd dat de planeten zijn gevormd is het meeste stof
al verwerkt in de planeten. Ook is een groot gedeelte op de
ster gevallen en is de protoplanetaire schijf verdwenen.
Er is alleen nog een ster met haar planetenstelsel.
</p>
<p>
<img src="{{ STATIC_URL }}publiek/images/dust_ESO_APEX.jpg"></br>
Een sliert van de kosmische stofwolk in het sterrenbeeld stier.
Het is een van de meest nabije stervormingsgebieden die we kennen.
Het stof is zo koud, -260 graden Celsius,
dat hun zwakke gloed alleen te zien is op golflengten
van ongeveer een millimeter (credits: ESO/APEX).
</p>
<p>
Het onderzoek op het instituut richt zich op waarnemingen
van protoplanetaire schijven. Hoeveel stof zit er in de schijf
en hoe is dat verdeeld? Hoe evolueert dit in de loop der tijd?
Samen met computersimulaties van de groei van stofdeeltjes
tot een planeet en de evolutie van protoplanetaire schijven
probeert men inzicht te krijgen in het onstaan van planetenstelsels.
Daardoor verkrijgen we ook meer kennis over hoe ons eigen zonnestelsel is ontstaan.
</p>

<h2> Exoplaneten </h2>

<p>
Exoplaneten zijn extra-solaire planeten oftewel planeten buiten ons zonnestelsel.
Niet alleen aan het ontdekken van exoplaneten wordt gewerkt,
maar juist ook wordt er onderzocht naar de eigenschappen van deze planeten.
Is ons zonnestelsel bijzonder of zijn er juist heel veel van zulke stelsels?
Vooralsnog zijn er voornamelijk grotere Jupiter-achtige gasplaneten ontdekt,
die dicht bij hun ster staan.
Er worden tegenwoordig ook steeds vaker kleinere planeten van rots ontdekt.
Extra interessant zijn aard-achtige planeten die zich in
de zogenaamde 'leefbare zone' rondom een ster bevinden.
Lijken deze planeten op onze aarde?
</p>
<p>
<img src="{{ STATIC_URL }}publiek/images/Exoplanet_fomalhaut.jpg"></br>
Een opname van de exoplaneet 'Fomalhaut b' in de
stofschijf rondom de ster Fomalhaut.
Het licht van centrale ster is geblokkerd om
de stofschijf zichtbaar te maken (credits: HST).
</p>




{% endblock contents %}
