{% extends "publiek/onderzoek/base.html" %}
{% block title %}API - explosies{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'publiek:explosies' %}">Explosies</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>Explosies</h1>


<h2>Gamma-Ray Bursts</h2>

<p>
Gamma-Ray bursts (GRBs) zijn de helderste explosies die we kennen.
Ze zijn zichtbaar tot op miljarden lichtjaren afstand.
Ze ontstaan door of het ineenstorten van een zware snel ronddraaiende ster
of door een samensmelting van twee compacten objecten (bijv. neutronensterren).
De bestudering van deze explosies vertelt iets over het stervormingsproces
tijdens de evolutie van het heelal.
Doordat het heelal uitdijt komen verschillende afstanden met verschillende
tijden overeen.
Het is ook mogelijk om de GRB als achtergrondlicht te gebruiken
en op die manier informatie te krijgen over sterrenstelsels die dichterbij
staan, maar te weinig licht geven om zonder de GRB gezien te worden.
</p>
<p>
<img src="{{ STATIC_URL }}publiek/images/GRB.jpg"></br>
Een voorbeeld van hoe een GRB ons informatie kan verschaffen over
de tussenliggende sterrenstelsels. De exoplosie links is de GRB en als
het licht passeert door de sterrenstelsels onderweg naar de aarde
(rechts buiten beeld) worden sommige kleuren geabsorbeerd
door materie en laten donkere lijnen achter in het spectrum.
Doordat de twee sterrenstelsels met verschillende snelheden zich van
ons af bewegen worden door het tweede sterrenstelsels
de donkere lijnen een klein stukje opgeschoven
en kunnen we zien welke lijnen waar geabsorbeerd worden.
(credits: ESO/L.Calcada).
</p>



<h2>Supernovae</h2>

<p>
Zware sterren exploderen aan het einde van hun leven in een supernova explosie.
Al het materiaal in de kern van de ster is gefuseerd, waardoor er geen
energie meer wordt opgewekt.
Deze energie is nodig om de druk van de zwaartekracht te weerstaan.
Zonder deze energie stort de kern ineen en explodeert de ster als supernova.
Een andere manier om een supernova explosie te krijgen is als een witte dwerg
(het eindproduct van onze zon) extra massa krijgt van bijv. een begeleidende ster
in een dubbelstersysteem. Indien de massa van de witte dwerg te groot wordt
(de zogenaamde chandrasekhar limiet) kan de ster de druk van de zwaartekracht
niet weerstaan en stort ineen.
Hierbij komt zoveel energie vrij dat er een supernova explosie plaatsvindt.
Supernovae zijn minder helder dan GRBs maar zijn nog steeds tot
op grote afstanden te zien. De restanten van een supernova zien
we vaak als mooie nevels, zoals bijv. de krabnevel.
</p>
<p>
<img src="{{ STATIC_URL }}publiek/images/crab_vlt.jpg"></br>
De krabnevel is het restant van een supernovaexplosie in 1054,
die door de chinezen is gezien en gedocumenteerd.
In het midden van de nevel bevind zich de krabpulsar.
Deze is overgebleven nadat de ster was geexoplodeerd.
(credits: ESO/FORS).
</p>

<h2>Röntgenbursts</h2>

<p>
Op neutronensterren vinden ook geregeld explosies plaats, zogenaamde röntgenbursts.
Hierbij neemt de helderheid van de ster voor een bepaalde tijd toe.
Deze thermonucleaire burst is het gevolg van een opeenhoping van geaccreteerd materiaal,
dat plotseling fuseert. De duur van deze ontploffingen is kort,
van enkele secondes tot een dag.
Dit is afhankelijk van de hoeveelheid materiaal die op het steroppervlak fuseert.
De toename in helderheid bij deze uitbarstingen is ergens tussen de 10 en 100 maal.</p>
<p>
Magnetische uitbarstingen worden vooral gezien bij zogenaamde magnetars.
Dit zijn neutronensterren met een sterker magneetveld dan gebruikelijk.
Deze uitbarstingen ontstaan doordat het magneetveld van de neutronenster
in de loop der tijd in de knoop raakt en hier wordt vervolgens energie in opgebouwd.
Op een gegeven moment wordt dit onstabiel en herschikt het magneetveld zich,
waarbij alle opgeslagen energie vrijkomt als gamma-straling.
Wat precies het omslagpunt bepaalt en waar de energieopbouw zich bevindt
is nog onduidelijk en daar wordt dus onderzoek naar gedaan.
Daarnaast laten deze sterren ook zien hoe hele sterke magneetvelden
zich gedragen in extreme situaties.
</p>

{% endblock contents %}
