{% extends "publiek/onderzoek/base.html" %}
{% block title %}API - onderzoek{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'publiek:onderzoek' %}">Onderzoek aan het API</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>Onderzoek aan het Sterrenkundig Instituut</h1>

<p>
<img src="{{ STATIC_URL }}publiek/images/api-domes.jpg"></br>
De twee koepels van het Anton Pannekoek Observatorium bovenop
het instituut bij zonsondergang (credits: Rudy Wijnands).
</p>


<p>
Nederland levert al een paar eeuwen een meer dan gemiddeld aandeel
aan sterrenkundig onderzoek wereldwijd.
Christiaan Huygens, Gerard Kuiper, Jan Oort en Anton Pannekoek
hebben allen bijgedragen aan
een beter begrip van het universum om ons heen.
Nog steeds is Nederland sterk vertegenwoordigd tussen de grote landen.
Momenteel bieden vier universiteiten sterrenkunde aan.
Deze vier, Groningen, Amsterdam, Leiden en Nijmegen werken samen
onder het samenwerkingsverband NOVA.
Samen met de instituten ASTRON (radiotelescoop Lofar en Westerbork) en
SRON (technologie ontwikkeling voor o.a. satellieten)
heeft Nederland een stevige aanwezigheid in deze internationale wetenschap.
Elke universiteit heeft bepaalde specialisaties.
Op het sterrenkundig instituut Anton Pannekoek in Amsterdam
wordt voornamelijk gewerkt aan:
<ul>
<li> Planeetvorming en Exoplaneten
<li> De vorming en evolutie van zware sterren
<li> Röntgendubbelsterren, neutronensterren en jets
<li> Explosies: gamma-ray bursts, supernovae, magnetische en thermo-nucleaire uitbarstingen
</ul>
</p>


<table id="research">
<tr>

<td>
<a href="/publiek/onderzoek/exoplaneten/">
   <img src="{{ STATIC_URL }}publiek/images/protoplanetarydisk.jpg" width=250></br>
    Planeetvorming en Exoplaneten
</a>
</td>


<td>
<a href="/publiek/onderzoek/massive/">
   <img src="{{ STATIC_URL }}publiek/images/MassiveStars.jpg" width=250></br>
    De vorming en evolutie van zware sterren
</a>
</td>
 </tr><tr>

<td>
<a href="/publiek/onderzoek/xrb/">
   <img src="{{ STATIC_URL }}publiek/images/xrb_CXC.jpg" width=250></br>
    Röntgendubbelsterren, neutronensterren en jets
</a>
</td>


<td>
<a href="/publiek/onderzoek/explosies/">
   <img src="{{ STATIC_URL }}publiek/images/thermonuclearexplosion.jpg" width=250></br>
    Explosies: gamma-ray bursts, supernovae, magnetische en thermo-nucleaire uitbarstingen
</a>
</td>

</tr>
</table>


{% endblock contents %}
