{% extends "publiek/onderzoek/base.html" %}
{% block title %}API - zware sterren{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'publiek:massive' %}">De vorming en evolutie van zware sterren</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>De vorming en evolutie van zware sterren</h1>

<h2>Vorming van zware sterren</h2>

<p>
Lichte sterren worden gevormd doordat een gaswolk samentrekt en samen
met stof dat vanuit een protoplanetaire schijf op de ster accreteert.
Dit is een process dat een aantal miljoenen jaren duurt.
Met dit mechanisme kunnen sterren tot slechts een paar
zonsmassa's gevormd worden.
Hoe zware sterren (d.w.z. sterren zwaarder dan 10 zonsmassa's)
precies gevormd worden is nog niet goed bekend,
omdat deze sterren bij het accreteren van materie veel
straling genereren en hiermee de rest van de materie wegblazen.
</p>
<p>
<img src="{{ STATIC_URL }}publiek/images/MassiveStarFormation.jpg"></br>
Illustratie van het vormingsproces van een zware ster.
Aan het einde van het vormingsproces verdwijnt de accretieschijf en
wordt het oppervlak van de jonge ster zichtbaar.
Op dit moment is de jonge ster nog stukken groter dan
wanneer deze een stabiel evenwicht heeft bereikt en op de hoofdreeks is aangeland
(credits: Lucas Ellerbroek & Lex Kaper).
</p>
<p>
Door waarnemingen te doen aan zware sterren die bezig zijn te
onstaan hoopt men meer inzicht te krijgen in dit vormingsproces.
Dit is lastig om drie redenen:
Zware sterren worden veel minder vaak gevormd dan lichtere sterren.
Minder dan 10% van alle sterren die ontstaan zijn zware sterren.
Een tweede reden is dat zware sterren veel minder lang leven.
De kans om ze te vinden tijdens hun vormingsprocess is dus ook lager.
De derde reden is misschien wel de belangrijkste.
Zware sterren worden gevormd in grote gas- en stofwolken en
de vormende sterren worden omsloten door deze stofwolken.
Er worden hiervan voornamelijk waarnemingen gedaan in golflengtes
die makkelijk door dit stof kunnen doordringen, zoals infrarood en radio.
Met grotere telescopen en gevoeligere apparatuur kunnen we steeds
verder doordringen in de gaswolken in andere gebieden van het spectrum.
</p>


<h2>Evolutie van zware sterren</h2>

<p>
Zware sterren hebben veel invloed op hun directe omgeving.
Zo hebben ze sterke sterwinden die omringend gas kunnen ioniseren en/of
wegblazen. Ook exploderen deze zware sterren aan het einde van
hun leven in supernova-explosies.
Hierbij verrijken ze het interstellaire medium met de zwaardere elementen die
in deze sterren gevromd worden.
Deze explosies kunnen ook het interstellaire medium verstoren,
waarbij gaswolken ineen kunnen storten en zich nieuwe sterren vormen.
De fases in de evolutie van zware sterren hebben
verschillende karateristieke eigenschappen.
De sterwind wordt sterker naarmate de ster verder evolueert.
Het is echter nog onduidelijk in welke volgorde
de evolutie van deze zware sterren loopt.
De Wolf-Rayet sterren zijn waarschijnlijk geëvolueerde
zware sterren, maar het bewijs voor deze hypothese is nog niet rond.
Ook is het nog onduidelijk hoe verschillende subtypes elkaar opvolgen in
de evolutie. Daarnaast zijn er vragen als wat de maximale massa van een ster kan zijn
of wat het verband is tussen zware sterren en gammaflisten (gamma-ray bursts).
</p>
<p>
Op het instituut wordt onderzoek gedaan naar deze zware sterren
om inzicht te krijgen in de hierboven genoemde vragen over de evolutie,
het ontstaan van en de invloed die zware sterren op hun omgeving hebben.
Via waarnemingen worden sterparameters, zoals bijvoorbeeld de massa of
temperatuur nauwkeurig bepaald.
Deze waarnemingen verschaffen ook informatie over de gebieden
waarin deze zware sterren worden gevormd.
Daarnaast worden theoretische modellen voor bijvoorbeeld stervorming getoetst
en verbeterd aan de hand van waarnemingen.
</p>

{% endblock contents %}
