{% url 'publiek:index' as publiek_index %}
{% url 'publiek:sterrenkijkavonden' as publiek_sterrenkijkavonden %}
{% url 'publiek:onderzoek' as publiek_onderzoek %}
{% url 'publiek:exoplaneten' as publiek_exoplaneten %}
{% url 'publiek:massive' as publiek_massive %}
{% url 'publiek:xrb' as publiek_xrb %}
{% url 'publiek:explosies' as publiek_explosies %}
{% url 'publiek:scholieren' as publiek_scholieren %}


<ul>
 <li><a {% ifequal request.path publiek_index %}class="active" {% endifequal %}href="{{ publiek_index }}">Publiek</a>
   <li> <a {% ifequal request.path publiek_sterrenkijkavonden %}class="active" {% endifequal %} href="{{ publiek_sterrenkijkavonden }}">Sterrenkijkavonden</a>
   </li>
  <ul>
   <li> <a {% ifequal request.path publiek_onderzoek %}class="active" {% endifequal %} href="{{ publiek_onderzoek }}">Onderzoek</a>
    <ul>
     <li> <a {% ifequal request.path publiek_exoplaneten %}class="active" {% endifequal %} href="{{ publiek_exoplaneten }}">Planeetvorming & Exoplaneten</a> </li>
     <li> <a {% ifequal request.path publiek_massive %}class="active" {% endifequal %} href="{{ publiek_massive }}">Zware sterren</a> </li>
     <li> <a {% ifequal request.path publiek_xrb %}class="active" {% endifequal %} href="{{ publiek_xrb }}">Röntgen-dubbelsterren</a> </li>
     <li> <a {% ifequal request.path publiek_explosies %}class="active" {% endifequal %} href="{{ publiek_explosies }}">Explosies</a> </li>
    </ul>
   </li>
   <li><a {% ifequal request.path publiek_scholieren %}class="active" {% endifequal %}href="{{ publiek_scholieren }}">Scholieren</a>
{% ifequal request.path publiek_scholieren %}
<!--
    <ul>
     <li>Studeren</li>
     <li>Projecten</li>
    </ul>
-->
{% endifequal %}
   </li>
  </ul>
 </li>
</ul>
