{% extends "research/base.html" %}
{% block title %}API - research: grb software{% endblock title %}

{% block contents %}
<h1>Gamma Ray Burst Software</h1>


<p>
Spherefit, the numerical implementation of the paper
"Practical flux-prescriptions for gamma-ray burst afterglows,
from early to late times", can be found
<a href="https://github.com/KonstantinosLeventis/SPHEREFIT"> here. </a>
Please follow the instructions in the README file to successfully
download and compile Spherefit.
</p>

<!--
<h3>XXXXXXXX</h3>

<p>
ZZZZZZZZZZZZZZZZZZZZZZZ
</p>
-->

{% endblock contents %}



