{% extends "research/base.html" %}
{% block title %}API - research{% endblock title %}

{% block contents %}
<h1>{{ cattitle }}</h1>


<p>
How did we get here?
The question of our origin is one of the key drivers of fundamental
scientific research. We live on a small planet, the third planet in
a family of 8 around a very normal star, one of 300 billion stars in
our galaxy alone. Is our solar system special?
Or should we expect millions of planetary systems out there with
similar properties - maybe - planets that can and do host life?
Finding the signs of life on another planet would be a truly
transformational discovery. At this point we may not quite be ready
to answer this question, but what we can do is find out where in
the cosmos the conditions are right for life to exist,
and in the process to understand how our solar system,
our planet did form and develop.
</p>

<p>
At API, researchers are studying the formation of planetary systems
and the properties of extrasolar planets. We want to understand how
the creation of new stars leads to planetary systems, and what these
planetary systems look like. We study the properties of protoplanetary
disks around young stars through observations and modelling.
We study the evolution of these disks, focusing on dust grains that
grow in the disk to form planets. We study the growth of planets and
the dynamics of planetary systems. And we study the properties of
planets emerging from these processes.
</p>

<p>
Who knows - maybe the signs of life will be detected on one of
these planets, during our life time?
</p>

<hr>

<h3> Exoplanets & Disks Meeting </h3>

<p>

The Exoplanets & Disks Meeting is a weekly meeting at the Anton
Pannekoek Institute where topics related to exoplanets, planet
formation and protoplanetary disks are being discussed. An overview of
previous and upcoming talks can be found on our
<a href="https://staff.fnwi.uva.nl/t.stolker/exoplanets-disks-meeting.html">exoplanets-disks-meeting</a> website.
</p>
<p>
If you are interested in attending the Exoplanets & Disks Meeting
and/or giving a talk, then please contact <a
href="https://staff.fnwi.uva.nl/t.stolker/contact.html">Tomas
Stolker</a>.
</p>

<hr>

<p>
People at The Institute are working on the following topics: </br>
</p>


<table id="research">
<tr>
{% for research in object_list %}
<td>
<a href="{{ research.get_absolute_url }}">
   {% if research.picture %}<img src="{{ research.picture.url }}"/> <br/> {% endif %} {{ research.topic }}
</a>
</td>
{% if forloop.counter|divisibleby:"2" %} </tr><tr> {% endif %}
{% endfor %}
</tr>
</table>

<!--
<div style="clear: both;">
{% for research in object_list %}
<div style="float: left; border: 0px cyan solid; margin: 2em; width: 100px; height: 200px;">
  {% if research.picture %}<a href="{{ research.get_absolute_url }}"><img src="{{ research.picture.url }}" width="100" />
  <p>{% else %}<p><a href="{{ research.get_absolute_url }}">{% endif %}{{ research.topic }}</a></p>
</div>
{% endfor %}
</div>
-->

{% endblock contents %}



