{% extends "research/base.html" %}
{% block title %}API - research: {{ object.topic }}{% endblock title %}

{% block breadcrumbs %}
{{ block.super }} &#187; {{ object.topic }}
{% endblock breadcrumbs %}



{% block contents %}
<h1> {{ object.topic }} </h1>

{{ object.description|safe }}

<hr>
<p>
{% with object.contact.all.count as ncontacts %}
{% if ncontacts %}Contact person{{ ncontacts|pluralize }} {{ ncontacts|pluralize:"is,are" }}:
<ul>
{% for person in object.contact.all %}
{% if person.show_person %} <li><a href="{{ person.get_absolute_url }}">{{ person }}</a></li> {% endif %}
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<p>

<p>
{% if object.interest.all %}
The following people are working on this topic:
<ul>
{% for person in object.interest.all %}
{% if person.show_person %} <li><a href="{{ person.get_absolute_url }}">{{ person }}</a></li> {% endif %}
{% endfor %}
</ul>
{% endif %}
</p>

{% endblock contents %}



