{% extends "base.html" %}

{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}

{% block title %}API - Research - Theses{% endblock title %}

{% block content %}

<h1 class="text-center">{{ thesis_title }}</h1>


{# TODO: Create filter, search, and add MSc and BSc theses? #} 
{# TODO: make Alumus clickable to show Alumnus page ? #} 
{% if not object_list %}
    <p>There are no {{ thesis_type }} theses at the moment.</p>
{% else %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Alumnus</th>
                <th>Title</th>
                <th>Defence Date</th>
            </tr>
        </thead>
        <tbody>
        {% for thesis in object_list %}
        <tr class="{% cycle '' 'info' %}">
                <td>{{ thesis.author }}</td>
                <td> <a href="{{ thesis.url }}"> {{ thesis.title }} </a>(<a href="{{ STATIC_URL }}research/theses/{{ thesis_type }}/{{ thesis.slug }}.pdf">PDF</a>)
        [{{ forloop.revcounter }}]</td>
                <td>{{ thesis.date|date:"j M Y" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


{% endblock content %}
