{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load template_filters %}

{% block title %} API - Theses {% endblock title %}

{% block content %}

<div class="main-content" role="main">
    {% bootstrap_messages %}

    {# Filters #}
    <div class="col-md-12 text-center">
        <ul class="nav nav-pills selector-nav center-pills">
            {# Thesis type dropdown menu #}
            {% get_thesis_types as theses %}
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Thesis Type <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% filter_objects 'type' 'None' %}"><i> No filter </i></a></li>
                    {% for type in theses %}
                        {# Reset possible old filter and add store filter #}
                        <li>
                            <a href="{% filter_objects 'type' type.0 %}" class="menu-link">
                                <div class="menu-text"> {{ type.1 }} </div>
                                <img class="check-box" src="{% check_dropdown 'type' type.0 %}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            {# Defence year dropdown menu #}
            {% get_defence_years as years %}
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Year <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% filter_objects 'year' 'None' %}"><i> No filter </i></a></li>
                    {% for year in years %}
                        {# Reset possible old filter and add store filter #}
                        <li>
                            <a href="{% filter_objects 'year' year.1 %}" class="menu-link">
                                <div class="menu-text"> {{ year.0 }} </div>
                                <img class="check-box" src="{% check_dropdown 'year' year.1 %}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

<!--             {# Allow to sort #}
            {% get_sorting_options as sort_order_options %}
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Sort Order <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% filter_objects 'sort' 'None' %}"><i> No filter </i></a></li>
                    {% for order in sort_order_options %}
                        {# Reset possible old filter and add store filter #}
                        <li>
                            <a href="{% filter_objects 'sort' order.1 %}" class="menu-link">
                                <div class="menu-text"> {{ order.0 }} </div>
                                <img class="check-box" src="{% check_dropdown 'sort' order.1 %}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
 -->
        </ul>
    </div>
    {# End Filters #}

    <div class="col-xs-12 filter-col">
        {% get_active_filters as active_filters %}

        {# Reset all filters button #}
        {% if active_filters %}
            <a class="dropdown-toggle" href="{% url 'research:thesis-list' %}" aria-haspopup="true" aria-expanded="false">
                <button type="button" class="btn btn-danger">
                    Reset All Filters <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </a>
        {% endif %}

        {# Display button for active filters #}
        {% for filter_type, filter_value in active_filters %}
        <a href="{% filter_objects filter_type filter_value %}">
            <button type="button" class="btn btn-danger filter-btn" href="#">
                {% if filter_type == "year" %}
                {% get_yearrange filter_value as yearrange %}
                    {{ filter_type|capitalize_filter_type }}: {{ yearrange }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% elif filter_type == "type" %}
                    {{ filter_type|capitalize_filter_type }}: {{ filter_value|display_thesis_type }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% elif filter_type == "sort" %}
                    {% if "author" in filter_value or "title" in filter_value or "year" in filter_value %}
                        {{ filter_type|capitalize_filter_type }}: {{ filter_value|display_sort_type }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% else %}
                        {{ "type/Sort"|capitalize_filter_type }}: {{ filter_value|display_sort_type }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                {% else %}
                    {{ filter_type }}: {{ filter_value }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                {% endif %}
            </button>
        </a>
        {% endfor %}
    </div>

    {% get_active_sort as active_sort %}
    <div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-bordered">
            <tr>
                {# Thesis Title sort #}
                <th class="table-bordered">
                    {% if active_sort == 'title_az' %}
                    <a href="{% filter_objects 'sort' 'title_za' %}" style="display: block; color: black;">  Thesis Title
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes"></i></span></a>
                    {% elif active_sort == 'title_za' %}
                    <a href="{% filter_objects 'sort' 'title_az' %}" style="display: block; color: black;"> Thesis Title
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span></a>
                    {% else %}
                    <a href="{% filter_objects 'sort' 'title_az' %}" style="display: block; color: black;"> Thesis Title
                        <span style="float:right;"><i class="glyphicon glyphicon-sort"></i></span></a>
                    {% endif %}
                </th>
                {# Author sort #}
                <th class="table-bordered">
                    {% if active_sort == 'author_az' %}
                    <a href="{% filter_objects 'sort' 'author_za' %}" style="display: block; color: black;"> Author
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes"></i></span></a>
                    {% elif active_sort == 'author_za' %}
                    <a href="{% filter_objects 'sort' 'author_az' %}" style="display: block; color: black;"> Author
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span></a>
                    {% else %}
                    <a href="{% filter_objects 'sort' 'author_az' %}" style="display: block; color: black;"> Author
                        <span style="float:right;"><i class="glyphicon glyphicon-sort"></i></span></a>
                    {% endif %}
                </th>
                {# MSc sort #}
                <th class="table-bordered">
                    {% if active_sort == 'msc_hl' %}
                    <a href="{% filter_objects 'sort' 'msc_lh' %}" style="display: block; color: black;"> MSc
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span></a>
                    {% elif active_sort == 'msc_lh' %}
                    <a href="{% filter_objects 'sort' 'msc_hl' %}" style="display: block; color: black;"> MSc
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes"></i></span></a>
                    {% else %}
                    <a href="{% filter_objects 'sort' 'msc_hl' %}" style="display: block; color: black;"> MSc
                        <span style="float:right;"><i class="glyphicon glyphicon-sort"></i></span></a>
                    {% endif %}
                </th>
                {# PhD sort #}
                <th class="table-bordered">
                    {% if active_sort == 'phd_hl' %}
                    <a href="{% filter_objects 'sort' 'phd_lh' %}" style="display: block; color: black;"> PhD
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span></a>
                    {% elif active_sort == 'phd_lh' %}
                    <a href="{% filter_objects 'sort' 'phd_hl' %}" style="display: block; color: black;"> PhD
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes"></i></span></a>
                    {% else %}
                    <a href="{% filter_objects 'sort' 'phd_hl' %}" style="display: block; color: black;"> PhD
                        <span style="float:right;"><i class="glyphicon glyphicon-sort"></i></span></a>
                    {% endif %}

                </th>
                {# Date sort #}
                <th class="table-bordered">
                    {% if active_sort == 'year_hl' %}
                    <a href="{% filter_objects 'sort' 'year_lh' %}" style="display: block; color: black;"> Defence
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span></a>
                    {% elif active_sort == 'year_lh' %}
                    <a href="{% filter_objects 'sort' 'year_hl' %}" style="display: block; color: black;"> Defence
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes"></i></span></a>
                    {% else %}
                    <a href="{% filter_objects 'sort' 'year_hl' %}" style="display: block; color: black;"> Defence
                        <span style="float:right;"><i class="glyphicon glyphicon-sort"></i></span></a>
                    {% endif %}


                </th>
            </tr>
        </thead>
        <tbody>
            {% include "research/thesis_paginator.html" %}
            {# Add the content #}
            <h2 class="text-center">Total number of theses: {{ theses.paginator.count }}</h2>
            {% for thesis in theses%}
            <tr>
                <td class="col-md-6">{% if thesis.thesis_title %}
                        <a href="{% url 'research:thesis-detail' thesis.slug %}">{{ thesis.title }}
                    {% else %}
                        <a href="{% url 'contact' %}">Title Unknown. Please contact us if you know the title!</a>
                    {% endif %}
                    {% if thesis.pdf.name %}
                        (<a href="{{ thesis.pdf.url }}">PDF</a>)
                    {% else %}
                        (<a href="{% url 'research:thesis-has-no-pdf' %}">PDF</a>)
                    {% endif %}
                </td>
                <td class="col-md-2"><a href="{% url 'alumni:alumnus-detail' thesis.alumnus.slug %}">{{ thesis.alumnus.full_name }}</a></td>
                <td class="col-md-1 text-center">
                    {% if thesis.type == "msc" %}
                        <span class="glyphicon glyphicon-ok"/>
                    {% endif %}
                </td>
                <td class="col-md-1 text-center">
                    {% if thesis.type == "phd" %}
                    <span class="glyphicon glyphicon-ok">
                        {% if thesis.dissertation_nr %}
                            {{ thesis.dissertation_nr }}
                        {% endif %}
                    </span>
                    {% endif %}
                </td>
                <td class="col-md-2 text-center">{% if thesis.date_of_defence %} {{ thesis.date_of_defence|date:"M j, Y" }} {% else %}
                    <i class="fa fa-question"> {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% include "research/thesis_paginator.html" %}
</div>
{% endblock content %}
