{% extends "base.html" %}
{% block title %}API website - 24/7{% endblock title %}

{% block contents %}

<h1>24/7</h1>


<h2>24</h2>

<p>
The API website has been revamped and brought up to the standards of
the current (internet) era.  Apart from an obvious update on the
outside, there is also a convenient way to administer the website
behind the scenes. API's can now themselves help keeping the website
up to date with news &amp; other items.
</p>

<h2>7</h2>
<p>
The new website: www.astro.uva.nl.
</p>




{% endblock contents %}
