{% extends 'base.html' %}
{% load staticfiles %}
{% load main_tags %}

{% block stylesheets %} {{ block.super }}
<link href="/tinymce/css/" type="text/css" media="all" rel="stylesheet" />
<script>function djangoFileBrowser(field_name, url, type, win) { return false;}</script>
<script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
{% endblock stylesheets %}

{% block title %} API - Alumni - Contactinfo {% endblock title %}

{% block content %}

<div class="col-xs-12 main-content" role="main" style="width: 100%">
    <h1 class="text-center"> Updating <strong>{% get_which_job which_position_value %}</strong> </h1>

    <div id="contact-form-wrapper" class="text-justify col-xs-12 col-sm-8 col-sm-offset-2 ">
        <div class="col-xs-12">
            <form class="form-horizontal col-sm-12" role="form" action="{% url 'site_careerinfo' which_position_value %}" method="post"> {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        Please check the input in the following field(s):
                        {% for error in form.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% for field in form.visible_fields %}
                    {% if field.errors %} 
                    <div class="form-group has-error has-feedback">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        {{ field.label_tag }} {{ field }}

                        {% if field.errors %}
                        <i class="glyphicon glyphicon-remove form-control-feedback"></i>
                        <div class="alert alert-danger">
                            {% for error in field.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success center-block pull-right"> Next </button>
                    
                </form>
        </div>
    </div>

</div>
{% endblock %}
