{% extends "base.html" %}
{% load static %}
{% block title %} API - Alumni {% endblock title %}
{# TODO: remove css/frontpage.css, but it is left to show how to load additional per-page css #} 
{% block stylesheets %} {{ block.super }} <link rel="stylesheet" type="text/css" href="{#% static 'css/frontpage.css' %#}" />{% endblock stylesheets %}


{% block content %}
<h1 class="text-center">Anton Pannekoek Institute | Alumni </h1>

<div class="main-content" role="main">
    <div class="jumbotron">
    {% if press or events %}
    {% include "main/news_listing.html" %}
    {% else %}
    <p class="text-justify">

    {% autoescape off %}
        {{ welcome_text }}
    {% endautoescape %}

    </p>
    {% endif %}
    </div>
</div>

{% endblock %}
