{% extends "base.html" %}
{% load static %}
{% block title %} API - Alumni {% endblock title %}
{# TODO: remove css/frontpage.css, but it is left to show how to load additional per-page css #} 
{% block stylesheets %} {{ block.super }} <link rel="stylesheet" type="text/css" href="{#% static 'css/frontpage.css' %#}" />{% endblock stylesheets %}


{% block content %}
<div class="main-content" role="main">

    <div class="col-xs-4 pull-left text-justify">
        <h2 class="text-left">Latest Interview</h2>
        <h5 class="text-left">{{ latest_post.date_published|date:"M d, Y"}} • <a href="{% url 'alumni:alumnus-detail' latest_post.alumnus.slug %}">{{ latest_post.alumnus.full_name }}</a></h5>
        {% autoescape off %}
            {{ latest_post.teaser }} <a href="{% url 'interviews:detail' latest_post.slug %}">Read More</a>
        {% endautoescape %}

        <h2 class="text-left">Recent Theses</h2>
        <h5 class="text-left"> 
            {{ latest_thesis.date_of_defence|date:"M d, Y" }} • <a href="{% url 'alumni:alumnus-detail' latest_thesis.alumnus.slug %}">{{ latest_thesis.author }}</a>
        </h5>
            <a href="{% url 'alumni:thesis-detail' latest_thesis.thesis_slug %}">{{ latest_thesis.thesis_title }}</a>
    </div>

    <div class="col-xs-8 pull-right text-justify">
        <h2 class="text-left">Anton Pannekoek Institute | Alumni </h2>
        {% autoescape off %}
            {{ welcome_text }}
        {% endautoescape %}
    </div>

    <div class="col-xs-12" style="margin-top: 50px; margin-bottom: 50px;">
        <img src="media/uploads/API_Alumni_Groupphoto.png" class="img-responsive"></img>
    </div>






</div>

{% endblock %}
