{% extends 'base.html' %}
{% load static %}

{% block stylesheets %} {{ block.super }}
<link href="/tinymce/css/" type="text/css" media="all" rel="stylesheet" />
<script>function djangoFileBrowser(field_name, url, type, win) { return false;}</script>
<script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
{% endblock stylesheets %}

{% block title %} API - Alumni - Privacysettings {% endblock title %}

{% block content %}

<div class="col-xs-12 main-content" role="main" style="width: 100%">
    <h1 class="text-center"> API Alumni Update Privacy Settings </h1>

    {% include 'survey/privacysettingsform.html' %}

    </div>
</div>
{% endblock %}
