<ul>
  {% for sticky in stickies %}
  <li><a href="{{ sticky.url }}">{{ sticky.title }}</a></li>
  {% endfor %}
  {% if jobs %}<li><a href="{% url 'jobs:index' %}"><span class="job">Current jobs:</span></a>
  <ul>
    {% for job in jobs %}
    <li class="job"> <a href="{{ job.get_absolute_url }}">{{ job.title }}</a> </li>
    {% endfor %}
  </ul>
  </li>{% endif %}
  <li><a href="{% url 'education:index' %}">Students</a></li>
  <li><a href="{% url 'publiek:index' %}">Publiek</a></li>
  <li><a href="{% url 'institute:contact' %}">Contact</a></li>
</ul>
