{% url 'publiek:index' as publiek_index %}
{% url 'publiek:sterrenkijkavonden' as publiek_sterrenkijkavonden %}
{% url 'publiek:onderzoek' as publiek_onderzoek %}
{% url 'publiek:scholieren' as publiek_scholieren %}


<ul>
 <li><a {% ifequal request.path publiek_index %}class="active" {% endifequal %}href="{{ publiek_index }}">Publiek</a>
  <ul>
   <li> <a {% ifequal request.path publiek_sterrenkijkavonden %}class="active" {% endifequal %} href="{{ publiek_sterrenkijkavonden }}">Sterrenkijkavonden</a> </li>
   <li> <a {% ifequal request.path publiek_onderzoek %}class="active" {% endifequal %} href="{{ publiek_onderzoek }}">Onderzoek</a> </li>
   <li> <a {% ifequal request.path publiek_scholieren %}class="active" {% endifequal %}href="{{ publiek_scholieren }}">Scholieren</a>
{% ifequal request.path publiek_scholieren %}
<!--
    <ul>
     <li>Studeren</li>
     <li>Projecten</li>
    </ul>
-->
{% endifequal %}
   </li>
  </ul>
 </li>
</ul>
