<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8" />
 <title>Internal Server Error</title>
 <meta name="author" content="Evert Rol" />
 <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/yui-reset-fonts.css" />
 <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/base.css" />
 <!--[if lte IE 6]>
 <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/ie.css" />
 <![endif] -->
 <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.js"></script>
 <!--[if lte IE 6]>
 <script type="text/javascript" src="{{ STATIC_URL }}javascript/menu.js"></script>
 <![endif]-->
</head>
<body>
<div id="base">
<div id="header">
<a href="/"><div id="banner">
<h1>Anton Pannekoek Institute for Astronomy</h1>
</div></a> <!-- banner -->
<div id="menu">
<ul>
  <li> <a href="/">Home</a>
    <ul>
      <li> <a href="/about/">About</a></li>
    </ul>
  </li>
  <li> <a href="/institute/">Institute</a>
    <ul>
      <li> <a href="/people/">People</a></li>
      <li> <a href="/institute/contact/">Contact</a></li>
    </ul>
  </li>
  <li> <a href="/news/">News</a>
    <ul>
      <li> <a href="/news/press/">Press</a></li>
      <li> <a href="/news/events/">Events</a></li>
      <li> <a href="/talks/colloquium/">Colloquia</a></li>
      <li> <a href="/talks/pizza/">Lunch talks</a></li>
    </ul>
  </li>
  <li> <a href="/education/">Education</a>
   <ul>
    <li> <a href="/eduation/projects/">Student projects</a> </li>
   </ul>
  </li>
  <li> <a href="/education/">Research</a>
   <ul>
    <li> <a href="/links/">Links</a> </li>
   </ul>
  </li>
  <li> <a href="/publiek/">Publiek</a>
    <ul>
      <li> <a href="/publiek/scholieren/">Scholieren</a> </li>
    </ul>
  </li>
  <li> <a href="/jobs/">Jobs</a>
  </li>
</ul>
</div> <!-- menu -->

<div id="helpers">
<a href="/sitemap">sitemap</a> |
<form name="helper_searchform" id="helper_search" method="post" action="/search/">{% csrf_token %}<input type="text" name="search_terms" value="search" size="12" /> <a href="javascript:document.helper_searchform.submit()">&#9654;</a></form>
</div> <!-- helpers -->
</div> <!-- header -->

<div id="main-container">
<div id="main">
<div id="contents">
<h1>Internal server error / webserver fout</h1>

<p>
Our webserver had a problem; the webpage administrator has automatically been notified.
</p>
<p>
Please try again, for example by reloading the page. If the error persists and you need the missing information promptly, you can <a href="mailto:secr-astro-science@uva.nl">email us</a>.
</p>

<hr />

<div lang="nl">
<p>
Onze webserver heeft een probleem; de web beheerder is automatisch op de hoogte gesteld.
</p>
<p>
Probeert U het nog eens (bijvoorbeeld door de pagina opnieuwe te laden). Als de foutmelding blijft terugkeren en U heeft de ontbrekende informatie snel nodig, kunt U ons altijd een <a href="mailto:secr-astro-science@uva.nl">e-mail sturen</a>.
</p>
</div>
</div> <!-- contents -->

</div> <!-- main -->
<div id="push-footer"></div>
</div> <!-- body -->
</div> <!-- base -->
<div id="footer">
Het Anton Pannekoek Instituut &#8212; P.O. box 94249, 1090 GE Amsterdam <br />
+31 (0)20 525 7491 &#8212; <a href="mailto:secr-astro-science@uva.nl">secr-astro-science@uva.nl</a>
</div>
</body>
</html>
