{% load filters %}
<!DOCTYPE html>
<html {% block langattr %}lang="en"{% endblock langattr %}>
<head>
 <meta charset="utf-8" />
 <title>{% block title %}{{ title }}{% endblock title %}</title>
 <link rel="icon" type="image/vnd.microsoft.icon" href="{{ STATIC_URL}}images/api-color.png" />
 <meta name="author" content="Evert Rol, Martin Heemskerk" />
 <meta name="copyright" content="Anton Pannekoek Instituut voor Sterrenkunde, Universiteit van Amsterdam" />
{% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/yui-reset-fonts.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
 <link media="only screen and (max-device-width: 480px)" href="{{ STATIC_URL }}css/iphone.css" type="text/css" rel="stylesheet" />
 <!--[if lte IE 6]>
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" />
 <![endif] -->
 <link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}css/print.css" />
{% endblock stylesheets %}
{% block scripts %}
 <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.js"></script>
 <!--[if lte IE 6]>
 <script type="text/javascript" src="{{ STATIC_URL }}javascript/menu.js"></script>
 <![endif]-->
{% endblock scripts%}
</head>
<body>
<div id="base">
<div id="header">
{% block banner %}<div id="banner">
<h1>Anton Pannekoek Institute for Astronomy</h1></div>{% endblock banner %}
<!-- banner -->
<div id="menu">{% block menu %}{% include "menu.html" %}{% endblock menu %}</div> <!-- menu -->
<div id="bottommenu">{% include "bottommenu.html" %}</div>
</div> <!-- header -->

<div id="main">{% block main %}
<div id="sidemenu">{% block sidemenu %}{# Empty side menu here. Filled in by the separate apps. #}{% endblock sidemenu %}</div> <!-- sidemenu -->

<div id="contents">{% block contents %}{% endblock contents %}</div> <!-- contents -->

{% endblock main %}</div> <!-- main -->

<div id="push-footer"></div>

</div> <!-- base -->

<div id="footer">{% include "footer.html" %}</div>
</body>
</html>
