footer {
	text-align: left;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
}


.teamtitle{
    font-size: 16px;
    font-weight: bold;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 8px 0 0 0;
}
/*.footer-container {
	width: 100%;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background-color:  rgb(248, 244, 243);
}
*/
/* .footer-bottom {
    background-color: white;
} */
/*
.footer-experiment {
	padding-top: 10px;
	padding-bottom: 10px;
}

.footerbar {
	padding-top: 5px;
	padding-bottom: 5px;
}

.footerbar .nav > li > a {
    display: block;
		text-align: left;
    padding-top: 1px;
		padding-bottom: 0px;
    font-size: 13px;
    font-weight: 400;
    color: #767676
}

.footerbar .nav > li > a:focus, .footerbar .nav > li > a:hover {
    color: #464646;
    text-decoration: none;
    background-color: transparent;
}

.email {
	min-width: 140px;
} */

.full {
    width: 100%;
}
/* .gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
} */
#footer, .push {
	/*height: 400px;  .push must be the same height as .footer*/
}

#footer {
	background-color: white;
	/* background: #EDEFF1; */
	/*height: auto;*/
	padding: 30px 15px;
	position: relative;
	width: 100%;
	/*bottom: 0;*/
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	margin-bottom: 0px;
}
#footer p {
	margin: 0;
}
#footer img {
	max-width: 100%;
}
#footer h3 {
	border-bottom: 1px solid #BAC1C8;
	text-align: center;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 5px 0 10px;
	text-transform: uppercase;
}
#footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	/* margin-top: 15px; */
	color: #7F8C8D;
}
#footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
#footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
/* .bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
} */
.social li {
	background: none repeat scroll 0 0 #0852d0;
	border: 2px solid #0852d0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: darkblue;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 2px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	/* background: #E3E3E3; */
	background-color: white;
	border-top: 1px solid #DDDDDD;
	/* padding-top: 10px; */
	padding-bottom: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}

.footer-column {
	/*width: 25%;*/
}

.footer-row {
	max-width: 1200px;
	margin: 0 auto;
}

p.contactinfo {
	color: #78828D;
}

#footer .social {
	text-align: center;
	margin: 0 auto;
	height: 70px;
	width: 132px;
}

@media(min-width: 992px){
	#contact-wrapper img {
		margin-top: 6px;
		height: 125px;
		padding-bottom: 20px;
	}
}

@media(max-width: 991px){
	#contact-wrapper img {
		float: right;
		height: 125px;
		padding-bottom: 20px;
	}

	#footercontainer .text-centered-xs-sm {
		text-align: center;
	}
	#footercontainer .text-right-xs-sm {
		text-align: right;
	}
}

@media(max-width: 467px){
	#contact-wrapper p{
		clear: right
	}
}
