/* ==========================================================================
Author's custom styles
========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
    font-family: 'Nunito', sans-serif;
}


.highlighted { background:yellow }

@media screen and (max-width: 991px) {
    .container {
        width: 100%;
    }
}

.container-container {
    overflow: visible;
}

html {
    font-family: 'Nunito', sans-serif;
    /*min-width: 950px;*/
    min-height: 100%;
}

body {
    padding-top: 100px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

/* Style for dropdown filter */

.center-pills {
    display: inline-block;
}

.menu-text {
    float: left;
    vertical-align: middle;
    line-height: 25px;
    max-width: 150px;
    word-wrap: break-word;
    white-space: initial;
}

.dropdown-menu>li>a {
    white-space: initial;
}

.menu-link {
    display: inline-block !important;
    vertical-align: middle;
    min-width: 190px;
    padding: 0px !important;
    padding-left: 20px !important;
    width: auto;
}
.check-box {
    max-height: 15px;
    float: right;
    margin: 6px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 1px;
    vertical-align: middle;
}

.dropdown-menu>li>a {
    white-space: initial;
}

.sidebar .nav > li > a {
    display: block;
    padding: 4px 0px;  /* 20 */
    font-size: 18px;
    font-weight: 500;
    color: #767676
}

.sidebar .nav > li > i {
    margin-top: 9px;
    opacity: 0.6;
}

.sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover {
    padding-left: 0px; /* 19 */
    /*color: #563d7c;*/
    text-decoration: none;
    background-color: transparent;
    border-left: 0px solid #563d7c; /* 1 */
    color: #5BBAF4;
}

.sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px; /* 30 */
    font-size: 15px;
    font-weight: 400
}

.sidebar .nav .nav > li > a:focus, .sidebar .nav .nav > li > a:hover {
    padding-left: 8px; /* 29 */
    color: #5BBAF4;
}

.sidebar .nav .nav > .active:focus > a, .sidebar .nav .nav > .active:hover > a,
.sidebar .nav .nav > .active > a {
    padding-left: 8px; /* 28 */
    font-weight: 500
}

.sidenav {
    margin-bottom: 20px
}

.dropdown-toggle, .dropdown-toggle:hover {
  color: inherit;
}

.filter-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.filter-col {
    margin-bottom: 25px;
}


/* End style for dropdown filter */

.container {
    position: relative;
}



.border-box {
    transition: all 0.2s ease;
    cursor: pointer;
}

.border-box h2 {
    transition: color 0.2s ease;
}

.border-box:hover h2 {
    transition: color 0.2s ease;
    color: #64AB4D;
}

.border-box:hover {
    transition: all 0.2s ease;
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.main-row {
    padding-top: 20px;
    background-color: white;
}

.show-grid > div {
    margin-bottom: 15px;
}

.main-content {
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 50px;
}

@media(min-width:992px) {
    .main-content {
        width: 90%;
    }
}

.btn-default, .btn-default:hover, .btn:active:focus, .btn-default:focus {
    color: #aaa;
    background-color: #fff;
    border-color: #ccc;
    background-image: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:active:focus, .btn-default:focus {
    outline: none;
    border: 1px solid #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
}

.form-control:focus {
    outline: none;
    border: 1px solid #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.modal-content {
    border-radius: 3px;
    margin-right: 17px;
}

.modal-dialog {
    width: 750px;
    margin: 30px auto;
}

.modal {
    overflow-x: auto !important;
}

.certificate-drop {
    min-width: 300px;
}


/* Back to top button on product list pages */
#backtotop {
    background: white;
    color: black;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
}

/*Don't show button for small screensizes as it will overlap*/
@media screen and (max-width: 1024px) {
    .back-to-top {
        display: none !important;
    }
}

@media screen and (max-width: 1424px) {
    #mc_embed_signup {
        display: none !important;
    }
}



/* Style for Alumnus detail page */
.mycontent-left {
  /* border-right: 0.5px solid #333; */
}

#contact-form-wrapper {
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 50px;
}