{% extends "institute/base.html" %}
{% block stylesheets %}{{ block.super }}{% endblock stylesheets %}
{% block title %}API - the institute{% endblock title %}
{% block breadcrumbs %}
{{ block.super }}  &#187; <a href="{% url 'institute:index' %}">Institute</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>API 90 years &mdash; alumni day</h1>

<p> Saturday November 26 2011, the celebration of 90 years Anton Pannekoek Institute was held, with a good amount of present and past &quot;APIs&quot; visiting.
</p>

<h2>Alumni book</h2>
<p>
For the celebration, the existing alumni book was updated, and is now available. There is a &quot;lost and found&quot; section, where people are listed for who contact information may be missing. If you do have information about a person there, you can let us know by contacting us: <a href="mailto:secr-astro-science@uva.nl">secr-astro-science@uva.nl</a>. If you see people missing on this, again, please let us know.

You can download <a href="{{ STATIC_URL }}institute/documents/API-Alumnibook.pdf">the API alumni book (PDF)</a>.
</p>

<h2>Pictures</h2>

<p>
An impression of the day can be gotten from photos taken by Danielle Huppenkothen and Evert Rol; the photos can be found <a href="https://plus.google.com/photos/110598939388550356951/albums/5683500084698264961?authkey=CLLYhPXD1qGf9AE">here</a>.
</p>

{% endblock contents %}
