{% if press %}
<h2 class="listing">Press</h2>
<dl class="listing">
{% for item in press %}
<dt style="font-weight: bold; ">{{ item.title }}{% if item.teaser_picture %}<img src="{{ MEDIA_URL }}{{ item.teaser_picture }}" class="teaser" />{% endif %}</dt>
<dd><div class="speaker">{% if item.location %}{{ item.location }}{% if item.date %} &#8212; {% endif %}{% endif %}{% if item.date %}{{ item.date|date:"l j F Y" }}{% endif %}</div>
<div class="teaser">{{ item.teaser_text|linebreaks }}</div>{% if item.text %}<a href="{{ item.get_absolute_url }}">{% if item.language == "en" %}Read more{% endif %}{% if item.language == "nl" %}Lees verder{% endif %}</a>{% endif %}</dd>
{% endfor %}
</dl>
{% endif %}

{% if events %}
<h2 class="listing">Events</h2>
<dl class="listing">
{% for item in events %}
<dt style="font-weight: bold; ">{{ item.title }}{% if item.teaser_picture %}<img src="{{ MEDIA_URL }}{{ item.teaser_picture }}" class="teaser" />{% endif %}</dt>
<dd><div class="speaker">{% if item.location %}{{ item.location }}{% if item.date %} &#8212; {% endif %}{% endif %}{% if item.date %}{{ item.date|date:" j F Y" }}{% if item.date_end %} &#8210; {{ item.date_end|date:" j F Y" }}{% endif %}{% endif %}</div>
<div class="teaser">{{ item.teaser_text|linebreaksbr }}</div>
{% if item.text %}<a href="{{ item.get_absolute_url }}">{% if item.language == "en" %}Read more{% endif %}{% if item.language == "nl" %}Lees verder{% endif %}</a>{% endif %}</dd>
{% endfor %}
</dl>
{% endif %}

{% if colloquium %}
<h2 class="listing">Next colloqui{{ colloquium.count|pluralize:"um,a" }}</h2>
<dl class="listing">
{% for item in colloquium %}
<dt style="font-weight: bold; ">{{ item.title }}{% if item.teaser_picture %}<img src="{{ MEDIA_URL }}{{ item.teaser_picture }}" class="teaser" />{% endif %}</dt>
<dd>
<div class="speaker">{{ item.speaker }}{% if item.affiliation %} &#8212; {{ item.affiliation }}{% endif %}</div>
<div class="teaser">{{ item.teaser_text|linebreaksbr }}</div>
<p>{{ item.date|date:"l j F Y" }}, {{ item.time|time:"H:i" }}.{% if item.location %} Location: {{ item.location }}{% endif %}</p>
{% if item.text %}<a href="{{ item.get_absolute_url }}">Read more</a>{% endif %}
</dd>
{% endfor %}
</dl>
{% endif %}


{% if pizza %}
<h2 class="listing">Next pizza lunch talk{{ pizza.count|pluralize }}</h2>
<dl class="listing">
{% for item in pizza %}
<dt style="font-weight: bold; ">{{ item.title }}{% if item.teaser_picture %}<img src="{{ MEDIA_URL }}{{ item.teaser_picture }}" class="teaser" />{% endif %}</dt>
<dd>
<div class="speaker">{{ item.speaker }}{% if item.affiliation %} &#8212; {{ item.affiliation }}{% endif %}</div>
<div class="teaser">{{ item.teaser_text|linebreaksbr }}</div>
<p>{{ item.date|date:"l j F Y" }}, {{ item.time|time:"H:i" }}.{% if item.location %} Location: {{ item.location }}{% endif %}</p>
{% if item.text %}<a href="{{ item.get_absolute_url }}">Read more</a>{% endif %}
{% if item.shorttalk_speaker %}
<p> Short talk given by {{ item.shorttalk_speaker }} </p>
{% endif %}
</dd>
{% endfor %}
</dl>
{% endif %}
