{% extends "news/base.html" %}
{% block title %}API - About the pizza lunch talks{% endblock title %}
{% load news_filters %}
{% block contents %}

<h1>About the pizza lunch talks</h1>

<img src="{{ STATIC_URL }}news/images/api_pizza.png" style="width: 200px; float: right;">

<h2>General explanations</h2>
<p>
The API Pizza Lunch Club meets every Thursday from 12:30--13:30 in the coffee/common area.
</p>

<p>
The meetings have several purposes:
</p>

<ul>
<li>- To get to know each other's work in a pleasant atmosphere.</li>
<li>- To hear news and exchange ideas about interesting scientific topics.</li>
<li>- To let people practice talks in front of an audience.</li>
</ul>

<p> Before the main talk an interesting new astronomy article from
Nature or Science will be discussed, and a few minutes are spend on
discussing it.  </p>

<a name="contact"></a><p>
<!-- Contact points for the pizza lunch talks are: -->
Contact point for the pizza lunch talks is:
</p>

<ul>
<li><a href="mailto:p.k.crumley@uva.nl">Patrick Crumley</a></li>
<li><a href="mailto:a.r.ingram@uva.nl">Adam Ingram</a></li>
</ul>

<!--      Google stopped providing this service of shared items

<h2>Latest API articles &amp; circulars</h2>

<p>
<script type="text/javascript" src="http://www.google.com/reader/ui/publisher-en_GB.js"></script>
<script type="text/javascript" src="http://www.google.com/reader/public/javascript/user/15469098813391921094/state/com.google/broadcast?n=10&callback=GRC_p(%7Bc%3A%22blue%22%2Ct%3A%22Richard's%20shared%20items%22%2Cs%3A%22false%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>
</p>
-->
<!--
<script type="text/javascript" src="http://www.google.com/reader/public/javascript/user/18425240103975567513/state/com.google/broadcast?n=10&callback=GRC_p(%7Bc%3A%22blue%22%2Ct%3A%22Dave's%20shared%20items%22%2Cs%3A%22false%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>
</p>

<h2>The pizza lunch Google calendar</h2>

<p>
<iframe src="http://www.google.com/calendar/embed?showDate=0&amp;showTabs=0&amp;showCalendars=0&amp;showCurrentTime=0&amp;mode=AGENDA&amp;height=320&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=nhu5qvbil1rj987m991hn1lork%40group.calendar.google.com&amp;color=%23B1365F" style=" border:solid 1px #777 " width="600" height="320" frameborder="0" scrolling="no"></iframe>
<a href="http://www.google.com/calendar/embed?src=bmh1NXF2YmlsMXJqOTg3bTk5MWhuMWxvcmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">See the whole calendar</a>
</p>
-->

<h2>Advice for Speakers</h2>

<p>
Every talk should be roughly 30 minutes (20 to 40 is OK), plus free discussion.
The pizza meeting is not a colloquium,
but is intended to inform and stimulate discussion about the topic.
New, exciting, and controversial topics are encouraged.
</p>

<p>
Everyone (including staff, Ph.D., and masters students) will
be asked to present something once per year.
You can pick any subject that you find interesting.
A successful presentation will help people understand:
</p>

<ul>
<li>- What is the topic and specific problem?</li>
<li>- Why is it interesting?</li>
<li>- What are the methods / ideas involved?</li>
<li>- What are the conclusions from this study?</li>
</ul>

<p>Remember: Most of the audience is not familiar with your topic!</p>

<h2>24/7 Lectures</h2>

<p>
The best talks give a clear summary of the basic concepts of a problem.
One way to do this is to end your presentation with two summaries:
</p>

<ol>
<li>A complete technical description in TWENTY-FOUR (24) SECONDS, and</li>
<li>A clear summary that anyone can understand, in SEVEN (7) WORDS.</li>
</ol>


<h2>Nature News</h2>

<p> Before the main talk, an interesting new astronomy article from
Nature or Science may be discussed, and a few minutes are spent on
discussing it.  </p>

<p>
We open this up to all APIs: if you spot a new
interesting/groundbreaking/relevant/controversial paper or article in
Nature, Science, Astro-ph, national news or astronomy journals and
you'd like to present it yourself (a slide or two would be good),
please e-mail our contactperson with the details by Wednesday (see top
of page for an <a href="#contact">e-mail address</a>).
We encourage new articles that have an interesting, important and
fairly simple result so that they can be discussed in a few minutes.
</p>

{% endblock contents %}
