{% extends "base.html" %}
{% load static %}

{% block stylesheets %} {{ block.super }}
<style>
    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }
    .nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }

    .arrow{
        stroke-width:5;
        stroke:#000;
        stroke-dasharray:5, 5;
    }

    #marker {
        stroke: black;
        fill: black;
    }

    .buttons {
      position: absolute;
      right: 30px;
      top: 30px;
    }

    .body {
        margin:0;
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
    }

</style>{% endblock stylesheets %}


{% block title %}API - Research - Theses{% endblock title %}

{% block content %}

<div class="main-content" role="main">
    <h1 class="text-center">Student-Supervisor Relation Tree</h1>
    <div id="tree-wrapper">
        <svg width="960" height="600"></svg>
    </div>
    <!-- if more elements, give ID -->
</div>

<div class="buttons">
  <button data-zoom="+1">Zoom In</button>
  <button data-zoom="-1">Zoom Out</button>
</div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
    var data = '{{ json_data | safe }}';
    graph = JSON.parse(data);
    console.log(graph);

    var svg = d3.select("svg")
        width = +svg.attr("width"),
        height = +svg.attr("height");

    // build the arrow.
    svg.append("svg:defs").selectAll("marker")
            .data(["end"])      // Different link/path types can be defined here
        .enter().append("svg:marker")    // This section adds in the arrows
            .attr("id", String)
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", 15)
            .attr("refY", -1.5)
            .attr("markerWidth", 6)
            .attr("markerHeight", 6)
            .attr("orient", "auto")
        .append("svg:path")
            .attr("d", "M0,-5L10,0L0,5");


    var color = d3.scaleOrdinal(d3.schemeCategory20);

    var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function(d) { return d.id; }))
            .force("charge", d3.forceManyBody())
            .force("center", d3.forceCenter(width / 2, height / 2));


    var link = svg.append("g")
            .attr("class", "links")
            .selectAll("line")
            .data(graph.links)
        .enter().append("line")
            .attr("marker-end", "url(#end)")
            .attr("stroke-width", function(d) { return Math.sqrt(2); });

    var node = svg.append("g")
            .attr("class", "nodes")
            .selectAll("circle")
            .data(graph.nodes)
        .enter().append("circle")
            .attr("r", 5)
            .attr("fill", function(d) { return color(d.group); })
            .call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended));

    var rectangle = svg.append("rect")
            .attr("x",0)
            .attr("y",0)
            .attr("width",width)
            .attr("height",height)
            .attr("fill", "None")
            .attr("stroke","black")
            .attr("stroke-width",5);

    node.append("title")
            .text(function(d) { return d.id; });

    simulation
            .nodes(graph.nodes)
            .on("tick", ticked);

    simulation.force("link")
            .links(graph.links);

    function ticked() {
        link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
    };

    function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }
</script>




{% endblock content %}
