{% extends "base.html" %}
{% load static %}

{% block stylesheets %} {{ block.super }} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css"/>
<style>
    .body { 
        margin:0;
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0; 
    }
    #cy {
        width: 75vw;
        height: 75vh;
        display: block;
    }

</style>{% endblock stylesheets %}


{% block title %}API - Research - Theses{% endblock title %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.7/cytoscape.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>

<div class="main-content" role="main">
    <div class="text-center">
        <ul class="nav nav-pills selector-nav center-pills">
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false">Selection<span class="caret"></span>
                </a>
            <ul class="dropdown-menu">
                <li><a href="#" id="bsc">Bsc</a></li>
                <li><a href="#" id="msc">Msc</a></li>
                <li><a href="#" id="phd">PhD</a></li>
                <li><a href="#" id="all">All</a></li>
            </ul>
            </li>
        </ul>
        <ul class="nav nav-pills selector-nav center-pills">
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false">Style<span class="caret"></span>
                </a>
            <ul class="dropdown-menu">
                <li><a href="#" id="concentric">Concentric</a></li>
                <li><a href="#" id="breadth-first">Breadth first</a></li>
                <li><a href="#" id="circle">Circle</a></li>
                <li><a href="#" id="grid">Grid</a></li>
            </ul>
            </li>
        </ul>
    </div> 
    <h1 class="text-center">Student-Supervisor Relation Tree</h1>
    <div id="cy" data-toggle="tooltip"></div>
    <!-- if more elements, give ID -->
</div>
<script type="text/javascript">

    

    var data = '{{ json_data | safe }}',
        graph = JSON.parse(data);
    console.log(graph);

    var layoutStyle = {
        name: 'concentric',
        concentric: function( ele ){ return ele.data('weight'); },
        levelWidth: function( nodes ){ return 5; },
        padding: 10
    };  

    var cy = cytoscape({
    container: document.getElementById('cy'),
    layout: layoutStyle,
    
    style: cytoscape.stylesheet()
    .selector('node')
    .css({
        'width': 'mapData(weight, 40, 80, 20, 60)',
        'content': 'data(id)',
        'text-valign': 'center',
        'text-outline-width': 2,
        'color': '#fff'
    })
    .selector(':selected')
    .css({
        'border-width': 3,
        'border-color': '#333'
    })
    .selector('edge')
    .css({
        'curve-style': 'bezier',
        'opacity': 0.666    ,
        'width': 'mapData(strength, 70, 100, 2, 6)',
        'target-arrow-shape': 'triangle',
        'source-arrow-shape': 'circle',
        'line-color': function( ele ) {
            var type = ele.data('type');
            if (type == 'bsc') { return 'red'; }
            else if (type == 'msc') { return 'black'; }
            else if (type == 'phd') { return 'green'; }
            else { return 'white; '}
        }
    })
    .selector('.faded')
    .css({
        'opacity': 0.25,
        'text-opacity': 0
    }),
    elements: graph

    });
    cy.edges().on('mouseover', function(event) {
        $("#cy").qtip({
            content: 'hello',
            show: {
                event: event.type,
                ready: true
            },
            hide: {
                event: 'mouseout unfocus'
            }
        }, event);
    });

    // $("#cy").mouseover(function() {

    // })


    $('#concentric').click(function(e) {
        layoutStyle = {
            name: 'concentric',
            concentric: function( ele ){ return ele.data('weight'); },
            levelWidth: function( nodes ){ return 5; },
            padding: 10
        }; 
        var layout = cy.layout(layoutStyle);
        layout.run();
    });
    $('#circle').click(function(e) {
        layoutStyle = {
            name: 'circle',
            padding: 10
        };
        var layout = cy.layout(layoutStyle);
        layout.run();
    });
    $('#grid').click(function(e) {
        layoutStyle = {
            name: 'grid',
            padding: 10
        };
        var layout = cy.layout(layoutStyle);
        layout.run();
    });
    $('#breadth-first').click(function(e) {
        layoutStyle = {
            name: 'breadthfirst',
            padding: 10
        };
        var layout = cy.layout(layoutStyle);
        layout.run();
    });

    $("#bsc").click(function(e) {
        removeEdges(e.currentTarget.id);
    });
    $("#msc").click(function(e) {
        removeEdges(e.currentTarget.id);
    });
    $("#phd").click(function(e) {
        removeEdges(e.currentTarget.id);
    });
    $("#all").click(function(e) {
        removeEdges(e.currentTarget.id);
    });

    const edges = cy.edges();
    const nodes = cy.nodes();

    function removeEdges(wanted) {
        // 
        nodes.forEach(function(ele) {
            ele.restore();
        });
        edges.forEach(function(ele) {
            ele.restore();
        })
        if (wanted != 'all') {
            edges.forEach(function(ele) {
                if (ele.data('type') != wanted) {
                    ele.remove();
                }
            });
        }
        var nodesWithoutEdges = cy.nodes().filter(node => node.connectedEdges(":visible").size() === 0);
        nodesWithoutEdges.forEach(function(ele) {
            ele.remove();
        })
        var layout = cy.layout(layoutStyle);
        layout.run();
    }

</script>

{% endblock content %}