{% extends "base.html" %}
{% load static %}

{% block stylesheets %} {{ block.super }} 
<style>
    .modebar {
        display: none !important;
    }
    #chartContainer {
        height: 600px;
        width: 100%;
    }
</style>{% endblock stylesheets %}

{% block title %} API - Visualisation - Tree {% endblock title %}

{% block content %}

<div class="main-content" role="main">
    <!-- <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Selection
    <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#" id="jobs_1">First job</a></li>
            <li><a href="#" id="jobs_2">Second job</a></li>
            <li><a href="#" id="jobs_3">Third job</a></li>
            <li><a href="#" id="jobs_cur">Current job</a></li>
        </ul>
</div> -->
    <h1 class="text-center"> Student-Supervisor Relation Tree </h1>
        <div id="tree-wrapper">
        <div id="chartContainer"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
    var data = '{{ json_data | safe }}',
        graph = JSON.parse(data);

    console.log(graph);

    var plotSettings = {
        hoverinfo: 'label+percent',
        title: 'Current job',
        titlefont: {
            family: 'Courier New, monospace',
            size: 18,
            color: '#7f7f7f'
        },
        showtitle: true
    };

    updateGraph(graph, 'Gender', update=false);

    // $('#jobs_1').click(function(e) {
    //     updateGraph(graph[e.currentTarget.id], 'First job');
    // });
    // $('#jobs_2').click(function(e) {
    //     updateGraph(graph[e.currentTarget.id], 'Second job');
    // });
    // $('#jobs_3').click(function(e) {
    //     updateGraph(graph[e.currentTarget.id], 'Third job');
    // });
    // $('#jobs_cur').click(function(e) {
    //     updateGraph(graph[e.currentTarget.id], 'Current job');
    // });


    function updateGraph(dataset, title, update=true) {
        data = {
            values: [],
            labels: [],
            type: 'pie'
        };
        $.each(dataset, function(key, val) {
            data.values.push(+val);
            data.labels.push(key);
        });
        plotSettings.title = title;

        Plotly.newPlot('chartContainer', [data], plotSettings);
        if (update) {
            Plotly.redraw('chartContainer');
        }
    }

</script>

{% endblock content %}