{% extends "base.html" %}
{% load static %}

{% block stylesheets %} {{ block.super }} 
<style>
    .modebar {
        display: none !important;
    }
    #chartContainer {
        height: 600px;
        width: 100%;
    }
</style>{% endblock stylesheets %}

{% block title %} API - Visualisation - Countries {% endblock title %}

{% block content %}

<div class="main-content" role="main">
    <div id="chartContainer"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
    var data = '{{ json_data | safe }}',
        graph = JSON.parse(data);

    var plotSettings = {
        hoverinfo: 'label+percent',
        title: 'Current job',
        titlefont: {
            family: 'inherit',
            size: 36,
            color: '#000000'
        },
        showtitle: true
    };

    updateGraph(graph, 'Country of origin', update=false);

    function updateGraph(dataset, title, update=true) {
        data = {
            values: [],
            labels: [],
            type: 'pie'
        };
        $.each(dataset, function(key, val) {
            data.values.push(+val);
            data.labels.push(capitalize(key));
        });
        plotSettings.title = title;

        Plotly.newPlot('chartContainer', [data], plotSettings);
        if (update) {
            Plotly.redraw('chartContainer');
        }
    }

    function capitalize(s) {
        s = s.replace(/_/g," ");

        return s[0].toUpperCase() + s.slice(1);
    }

</script>

{% endblock content %}