{% extends "internal/base.html" %}
{% block title %}API - internal pages: addresses{% endblock title %}

{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'internal:addresses' %}">Address List</a>
{% endblock breadcrumbs %}

{% block contents %}
<h1>API address list</h1>

<table class="addresses">
<thead>
<tr>
<th>Name</th>
<th>Address</th>
<th>Zipcode</th>
<th>City</th>
<th>Home / Mobile phone</th>
</thead>
<tbody>
{% for person in persons %}
<tr class="{% cycle 'odd' 'even' %}">
<td>{{ person.full_name }}</td>
<td>{{ person.address }}</td>
<td nowrap>{{ person.zipcode }}</td>
<td>{{ person.city }}</td>
<td nowrap>{{ person.home_phone }} / {{ person.mobile }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock contents %}
