{% extends "base.html" %}
{% block stylesheets %}{{ block.super }}<style>div#banner { background-image: url({{ STATIC_URL }}internal/images/coffee-panorama.jpg); } div#header h1 { color: #fff; text-shadow: 2px 2px #000; }</style>{% endblock stylesheets %}
{% block scripts %}{{ block.super }} <script type="text/javascript" src="{{ STATIC_URL }}internal/javascript/internal.js"></script>{% endblock scripts %}

{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'internal:index' %}">Internal</a>
{% endblock breadcrumbs %}

{% block sidemenu %}
{% include "internal/sidemenu.html" %}
{% endblock sidemenu %}
