{% extends "internal/base.html" %}
{% block title %}API - internal pages{% endblock title %}

{% block contents %}

<h1>Internal pages of the API</h1>

{% if user.is_authenticated %}
<p>
Welcome {{ user.first_name }}. Thanks for logging in.
</p>
<p>
In this section you can change your user profile.
You can also view and download the current telephone list and
look at the API agenda to see what is happening at our institute.
Furthermore there is a wiki with lots of information
on issues related to the working environment at API.
</p>
{% else %}
<p>
Welcome new user.<br />
Please log in.
</p>
{% endif %}

{% endblock contents %}
