{% extends "internal/base.html" %}
{% load news_filters %}
{% block title %}The Anton Pannekoek Observatory{% endblock title %}


{% block contents %}

<h1>The Anton Pannekoek Observatory</h1>

<p>
The Anton Pannekoek Observatory is located right on top of the institute, on the roof of the faculty building.
It features two domes, which contain several telescopes.
Next to the domes is the platform where ten 10cm refractor telescopes can be set up.
</p>
<ul>
 <li> <a href="{{ STATIC_URL }}internal/observatory/RCOSvisual_observing.pdf">Manual for visually observing with the 51cm-mirror telescope (in english)</a> </li>
 <li> <a href="{{ STATIC_URL }}internal/observatory/RondleidingAPO.pdf">Leidraad voor Rondleiding koepels (in dutch)</a> </li>
 <li> <a href="{{ STATIC_URL }}internal/observatory/ApoSterrenkoepel.pdf">Brochure Sterrenkoepel (in dutch)</a> </li>
</p>


{% endblock contents %}
