{% extends "internal/base.html" %}
{% block title %}API - internal pages: change password{% endblock title %}

{% block contents %}

<h1>Password change form, members only</h1>


<p>
Please enter your old password, for security's sake,
and then enter your new password twice so we can verify
you typed it in correctly.
</p>

{% if form.errors %}
<p> Some errors occurred. Please try again.</p>
{% if form.old_password.errors  %} {{ form.old_password.errors  }} {% endif %}
{% if form.new_password1.errors %} {{ form.new_password1.errors }} {% endif %}
{% if form.new_password2.errors %} {{ form.new_password2.errors }} {% endif %}
{% endif %}

<form method="post" action="{% url 'account:password-change' %}">{% csrf_token %}
<table>
<tr>
    <td>{{ form.old_password.label_tag }}</td>
    <td>{{ form.old_password }}</td>
</tr>
<tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}</td>
</tr>
<tr>
    <td colspan="2" align="center" valign="bottom">
        <input type="submit" value="Change my password for the API website" />
    </td>
</tr>
</table>
</form>

{% endblock contents %}

