{% extends "internal/base.html" %}
{% block title %}API - internal pages: show profile{% endblock title %}

{% block breadcrumbs %}
{{ block.super }} &#187; {{ profile.full_name }}
{% endblock breadcrumbs %}


{% block contents %}
<h1>User profile for {{ user.username }}  </h1>

<p>
<h2> Personal Information: </h2>
{{profile.title }} {% if profile.initials %} ({{profile.initials}}) {% endif %}  {{ profile.full_name }} <br />
{{profile.address }}  <br />
{{profile.zipcode }}  {{profile.city }}  <br />
Tel: {{profile.home_phone }}  <br />
Mobile: {{profile.mobile }}  <br />
Gender: {{profile.get_gender_display }}  <br />
Birthday: {{profile.birth_date|date:"j-M-Y"}} <br />
{% if profile.mugshot %}
Mugshot: <img src="{{profile.mugshot.url}}" width="100" />
{% endif %}
{% if profile.photo %}
Photo: <img src="{{profile.photo.url}}" width="200" /> <br />
{% endif %}
</p>

<p>
<h2> Scientific (Work) Information: </h2>
<table>
<tr><th>Position</th> <td>{% for position in profile.position.all %}{{ position.name }}{% endfor %}</td></tr>
<tr><th>Specification</th> <td>{{ profile.specification }}</td></tr>
<tr><th>Office</th> <td>{{ profile.office }}</td></tr>
<tr><th>Phone</th> <td>{{ profile.work_phone|cut:"020-525"}} </td></tr>
<tr><th>ADS Name</th> <td>{{ profile.ads_name }}</td></tr>
<tr><th>Email</th> <td>{{ profile.email }}</td></tr>
<tr><th>Homepage</th> <td>{{ profile.homepage }}</td></tr>
{% if profile.research.all %}<tr><th>Research Interests:</th>
<td><ul>
{% for science in profile.research.all %}
<li> <a href="{{ science.get_absolute_url }}">{{ science }}</a> </li>
{% endfor %}
</ul></td>
{% endif %}</tr>
{% if profile.contact.all %}<tr><th>You are contact person for</th>
<td><ul>
{% for science in profile.contact.all %}
<li> <a href="{{ science.get_absolute_url }}">{{ science }}</a> </li>
{% endfor %}
</ul></td>
{% endif %}</tr>
</table>

<p>
<h2> Extra Information (Personal notes): </h2>
{{ profile.comments|escape|urlize|linebreaks }} <br />
</p>

{% endblock contents %}
