{% extends "education/projects/master/base.html" %}
{% block title %}API - education: master projects{% endblock title %}
{% block contents %}
<h1>Master projects</h1>

{% if not object_list %}
<p>There are no projects at the moment</p>
{% else %}
<ul>
{% for object in object_list %}
<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endfor %}
{% endif %}

{% if perms.education.change_masterproject and perms.education.add_masterproject %}<div class="edit"><a href="{% url 'admin:index' %}education/masterproject/add/">add</a> | <a href="{% url 'admin:index' %}education/masterproject/">edit</a></div>{% endif %}

{% endblock contents %}
