<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
        "http://www.w3.org/TR/html4/frameset.dtd">
<HTML>
   <HEAD>
   <TITLE> Sterrenkunde - Sterrenkundig Instituut - Universiteit van Amsterdam </TITLE>
<META NAME="description" CONTENT="Website van het Sterrenkundig Instituut `Anton Pannekoek' van de Universiteit van Amsterdam, Sterrenkunde">
<META NAME="keywords" CONTENT="Sterrenkunde, astrofysica, Onderwijs, Dubbelsterren, Plaatjes, Animaties, Filmpjes, Onderzoek, Sterren, Ruimte, Satellieten, Planeten, Multi Media, Expositie, Publicaties, zwarte gat, neutronenster, witte dwerg, rontgen, infrarood, radio, optisch, gamma ray burst, supernova, compacte objecten, hoge energie astrofysica">


</HEAD>
<FRAMESET COLS="120,*" FRAMEBORDER="0" BORDER="0" FRAMESPACING="0">
 <FRAME NAME="navigation" SRC="/old/navigation.html" SCROLLING="NO" NORESIZE MARGINHEIGHT="4" MARGINWIDTH="0">
 <FRAMESET ROWS="126,*" FRAMEBEORDER="0" BORDER="0" FRAMESPACING="0">
  <FRAME NAME="top_frame" SRC="/old/top.html" SCROLLING="NO" NORESIZE MARGINHEIGHT="4">
  <FRAME NAME="main_frame" SRC="/old/main.html">
 </FRAMESET>
</FRAMESET>


<NOFRAMES>
<p>Website van het Sterrenkundig Instituut "Anton Pannekoek" van de Universiteit van Amsterdam, met informatie over het onderzoek, de publicaties en het onderwijs van het Instituut, informatie over het instituut en zijn mensen en een on-line muli media tentoonstelling over sterrenkunde. </p>

<a href="{% url 'home-page' %}">Nieuwe site</a>
</NOFRAMES>

 </HTML>
