<HTML>
<HEAD>
<TITLE>Sterrenkunde - Sterrenkundig Instituut Universiteit van Amsterdam</TITLE>
<!-- Changed by: WWW, 20-Nov-1998 -->
<!-- Changed by: Astroweb, 23-Aug-1999 -->
<MAP NAME=home_nl>
<AREA SHAPE=rect COORDS=0,0,225,225 HREF="{% url 'research:index' %}" target="_top"  ALT="Onderzoek (in het engels)">
<AREA SHAPE=rect COORDS=225,0,450,225 HREF="{% url 'education:index' %}" onClick="parent.main_frame.location.href='{% url 'education:index' %}';top.frames[0].mainselect(1);return true;"
TARGET="_top" ALT="Onderwijs">
<AREA SHAPE=rect COORDS=0,225,225,450 HREF="{% url 'institute:index' %}" onClick="top.frames[0].mainselect(2);parent.main_frame.location.href='{% url 'institute:index' %}';"
TARGET="_top" ALT="Lokale informatie">
</MAP>

<META NAME="description" CONTENT="Website van het Sterrenkundig Instituut `Anton Pannekoek' van de Universiteit van Amsterdam">
<META NAME="keywords" CONTENT="Sterrenkunde, astrofysica, Onderwijs, Dubbelsterren, Plaatjes, Animaties, Filmpjes, Onderzoek, Sterren, Ruimte, Satellieten, Planeten, Multi Media, Expositie, Publicaties, zwart gat, neutronenster, witte dwerg, rontgen, infrarood, radio, optisch, gamma ray burst, supernova, compacte objecten, hoge energie astrofysica">

</HEAD>

<BODY BGCOLOR="ffffff" TEXT="000000" LINK="#996699" VLINK="#996666" BACKGROUND="{{ STATIC_URL }}old/figs/bgcolor.gif">

<TABLE BORDER=0>
<TR>
 <TD>
  <CENTER>
  <IMG ALIGN=MIDDLE BORDER=0 SRC="{{ STATIC_URL }}old/figs/home_nl2.jpg" ISMAP USEMAP=#home_nl >
  </CENTER>
 </TD>
</TR>

<TR>
 <TD ALIGN=CENTER>
  Het Sterrenkundig Instituut van de <A HREF="http://www.uva.nl/"
  TARGET=_top>Universiteit van Amsterdam</A> is een onderdeel van de <A
  HREF="http://www.science.uva.nl/" TARGET="_top">Faculteit der Natuurwetenschappen,
  Wiskunde en Informatica (FNWI).</A>
 </TD>
</TR>

<!--TR>
 <TD>
  <A HREF="{% url 'research:index' %}" TARGET="_top"><IMG SRC="{{ STATIC_URL }}old/figs/SN1987A_Rings.jpg" WIDTH=200 BORDER=0></A>
 </TD>
 <TD>
  <A HREF="{% url 'education:index' %}" TARGET="_top"><IMG SRC="{{ STATIC_URL }}old/figs/education.jpg" HEIGHT=200 BORDER=0></A>
 </TD>
 <TD ROWSPAN=2>
  <IMG SRC="{{ STATIC_URL }}old/figs/trans.gif" WIDTH=100 BORDER=0>
 </TD>
</TR>

<TR>
 <TD>
  <A HREF="{% url 'institute:index' %}" TARGET="_top"><IMG SRC="{{ STATIC_URL }}old/figs/local.jpg" WIDTH=200 BORDER=0></A>
 </TD>
 <TD>
  <IMG SRC="{{ STATIC_URL }}old/figs/combined.jpg" WIDTH=200 BORDER=0>
 </TD>
</TR-->
</TABLE>


</BODY>
</HTML>

