<HTML>
   <HEAD>
   <TITLE>Sterrenkunde - Sterrenkundig Instituut Amsterdam - Navigatie Frame</TITLE>
<!-- Changed by: WWW, 15-Dec-1998 -->
<!-- Changed by: Astroweb, 20-Aug-1999 -->

<META NAME="ROBOTS" CONTENT="NOINDEX">

   </HEAD>

   <BODY  BGCOLOR="#000000" TEXT="#ffffff"  LINK="#996699" VLINK="#996666">
   <SCRIPT LANGUAGE = "JavaScript">

//<!--

var iversion = -1;
var roll=false;
var mitem=false;

function version() {
         if (iversion != -1) return roll;

        if (navigator.appName.indexOf("Netscape") != -1) { // Netscape
                if (navigator.userAgent.indexOf("Mozilla/") != -1)
                        iversion = parseFloat(navigator.appVersion)
                else
                        iversion = 1;
                roll = (3<=iversion);
        } else {  // Not netscape.
                if (navigator.appName.indexOf("Internet Explorer") != -1) {
                        if (navigator.userAgent.indexOf("Mozilla/") != -1)
                                iversion = parseFloat(navigator.appVersion)
                        else
                                iversion = 1;
                } else {
                        iversion = 1;
                }
                roll = (3<=iversion);
        }
        return roll;
}

if (version()) {

        menu1n        = new Image(105,24);
        menu1o        = new Image(105,24);
        menu1n.src            = "{{ STATIC_URL }}old/figs/donderzoek.gif";
        menu1o.src            = "{{ STATIC_URL }}old/figs/d2onderzoek.gif";

        menu2n        = new Image(105,24);
        menu2o        = new Image(105,24);
        menu2n.src            = "{{ STATIC_URL }}old/figs/donderwijs.gif";
        menu2o.src            = "{{ STATIC_URL }}old/figs/d2onderwijs.gif";

        menu3n        = new Image(105,24);
        menu3o        = new Image(105,24);
        menu3n.src            = "{{ STATIC_URL }}old/figs/dlokaal.gif";
        menu3o.src            = "{{ STATIC_URL }}old/figs/d2lokaal.gif";

        menu4n        = new Image(105,24);
        menu4o        = new Image(105,24);
        menu4n.src            = "{{ STATIC_URL }}old/figs/dlinksnl.gif";
        menu4o.src            = "{{ STATIC_URL }}old/figs/d2linksnl.gif";

        menu5n        = new Image(105,24);
        menu5o        = new Image(105,24);
        menu5n.src            = "{{ STATIC_URL }}old/figs/dexpositie.gif";
        menu5o.src            = "{{ STATIC_URL }}old/figs/d2expositie.gif";
}

function chimg(pic,name) {
                if (roll) {
                        pic.src = name.src;
                }
}

var imnew = 0;
var imold = 7;
//active = [true,true,true,true,true,true,true];

active = new Array;
active[0] = true; active[1] = true; active[2] = true;
active[3] = true; active[4] = true; active[5] = true;
active[6] = true; active[7] = true;

function selected(imnew,imold) {

  if(roll){
        active[imnew] = false;
        active[imold] = true;
        if (imold == 0) document.images[6].src=menu1n.src
        if (imold == 1) document.images[8].src=menu2n.src
        if (imold == 2) document.images[10].src=menu3n.src
        if (imold == 3) document.images[12].src=menu4n.src
        if (imold == 4) document.images[14].src=menu5n.src
         }
}

function mainselect(imnew) {

  if(roll){
           imold=imnew
           if (imnew == 0) {
                     document.images[6].src=menu1o.src;
                     active[imnew] = false;
                      }
           if (imnew == 1) {
                    document.images[8].src=menu2o.src;
                    active[imnew] = false;
                      }
           if (imnew == 2) {
                     document.images[10].src=menu3o.src;
                     active[imnew] = false;
                      }
           if (imnew == 4) {
                      document.images[14].src=menu5o.src;
                      active[imnew] = false;
                     }
          }
}

   //-->

   </SCRIPT>

<TABLE BORDER=0 WIDTH=100% HEIGHT=100%>
<TR><TD VALIGN="TOP">
<CENTER>
<A HREF="http://www.uva.nl" TARGET="_top"><IMG SRC="{{ STATIC_URL }}old/figs/uvablok.jpg"
ALT="UvA" BORDER=0 WIDTH=56></A><BR>

<A HREF="http://www.science.uva.nl" TARGET="_top"><IMG SRC="{{ STATIC_URL }}old/figs/bbfnwi.gif"
 ALT="FNWI" BORDER=0 WIDTH=50></A><BR>
<IMG SRC="{{ STATIC_URL }}old/figs/trans.gif" BORDER=0 HEIGHT=5><BR>

<A HREF="{% url 'home-page' %}" TARGET="_top"
onMouseOver = "self.status = 'Terug naar onze beginpagina'; return true;"
onClick="selected(imold,imold);parent.main_frame.location.href='{% url 'home-page' %};return true">
<IMG SRC="{{ STATIC_URL }}old/figs/bbhome2.gif" ALT="Home" BORDER=0 WIDTH=25></A>
<A HREF="{% url 'search:index' %}" TARGET="_top"
onMouseOver = "self.status = 'Zoeken '; return true;"
onClick="selected(imold,imold);return true;">
<IMG SRC="{{ STATIC_URL }}old/figs/bbzoek.gif" BORDER=0 WIDTH=25></A>
<BR>

</CENTER>

<IMG SRC="{{ STATIC_URL }}old/figs/trans.gif" ALT="" BORDER=0 HEIGHT=15><BR>
<A HREF="{% url 'research:index' %}" TARGET="_top"
onMouseOver = "self.status = 'Ondezoeksgebieden van het Instituut (in het engels)';
if (roll) if (active[0]) chimg(menu1,menu1o);
return true" onMouseOut = "self.status =' '; if (roll) if (active[0]) chimg(menu1,menu1n); return true;"
onClick="imnew=0;selected(imnew,imold);imold=imnew;parent.main_frame.location.href='{% url 'research:index' %}';return true;">
<IMG SRC="{{ STATIC_URL }}old/figs/donderzoek.gif" ALT="Onderzoek" BORDER=0 NAME="menu1"></A><BR>
<IMG SRC="{{ STATIC_URL }}old/figs/trans.gif" BORDER=0 HEIGHT=5><BR>
<A HREF="{% url 'education:index' %}" TARGET="_top"
onMouseOver = "self.status = '(Van)Alles over het Onderwijs'; if (roll) if (active[1]) chimg(menu2,menu2o);
return true" onMouseOut = "self.status =''; if (roll) if (active[1]) chimg(menu2,menu2n); return true;"
onClick="imnew=1;selected(imnew,imold);imold=imnew;parent.main_frame.location.href='{% url 'education:index' %};return true;">
<IMG SRC="{{ STATIC_URL }}old/figs/donderwijs.gif" ALT="Onderwijs" BORDER=0 NAME="menu2"></A><BR>
<IMG SRC="{{ STATIC_URL }}old/figs/trans.gif" BORDER=0 HEIGHT=5><BR>
<A HREF="{% url 'institute:index' %}" TARGET="_top"
onMouseOver = "self.status = 'Lokale informatie'; if (roll) if (active[2]) chimg(menu3,menu3o); return true"
onMouseOut = "self.status =''; if (roll) if (active[2]) chimg(menu3,menu3n); return true;"
onClick="imnew=2;selected(imnew,imold);imold=imnew;parent.main_frame.location.href='{% url 'institute:index' %}';return true;">
<IMG SRC="{{ STATIC_URL }}old/figs/dlokaal.gif" ALT="Lokaal" BORDER=0 NAME="menu3"></A><BR>
<IMG SRC="{{ STATIC_URL }}old/figs/trans.gif" BORDER=0 HEIGHT=5><BR>
<A HREF="{% url 'research:links' %}" TARGET="_top"
onMouseOver = "self.status = 'Ga naar de Links'; if (roll) if (active[3]) chimg(menu4,menu4o); return true"
onMouseOut = "self.status =''; if (roll) if (active[3]) chimg(menu4,menu4n); return true;"
onClick="imnew=3;selected(imnew,imold);imold=imnew;parent.main_frame.location.href='{% url 'research:links' %}';return true;">
<IMG SRC="{{ STATIC_URL }}old/figs/dlinksnl.gif" ALT="Links" BORDER=0 NAME="menu4"></A><BR>
<IMG SRC="{{ STATIC_URL }}old/figs/trans.gif" BORDER=0 HEIGHT=15><BR>



<A HREF="{% url 'jobs:index' %}" TARGET="_top"
onMouseOver = "self.status = 'Vakatures - Jobs'; return true;"
onMouseOut = self.status =''; return true;"
onClick="imnew=5;selected(imnew,imold);imold=imnew;parent.main_frame.location.href='{% url 'jobs:index' %}';return true;">
<CENTER><IMG SRC="{{ STATIC_URL }}old/figs/jobs.gif" ALT="Jobs" BORDER=0 NAME="img7"></A></CENTER>


<BR>
<CENTER><A HREF="{% url 'home-page' %}" TARGET="_top" >
<FONT FACE=ARIAL,HELVETICA COLOR=WHITE SIZE=3><B>New website launched</B>
</FONT></A></CENTER>
<BR>



</TD></TR>
<TR><TD VALIGN="BOTTOM">
<A HREF="mailto:secr-astro-science@uva.nl"><IMG SRC="{{ STATIC_URL }}old/figs/mailto.gif" BORDER=0></A>
<IMG SRC="{{ STATIC_URL }}old/figs/trans.gif" BORDER=0 WIDTH=45>

</TD></TR>
</TABLE>
</BODY>
</HTML>

