<HTML>
   <HEAD>
   <TITLE>Sterrenkundig Instituut Universiteit van Amsterdam</TITLE>
<!-- Changed by: WWW, 15-Dec-1998 -->
<!-- Changed by: Astroweb, 20-Aug-1999 -->

<META NAME="ROBOTS" CONTENT="NOINDEX,FOLLOW">

   </HEAD>
<BODY BGCOLOR="f5f5eb" TEXT="000000" LINK="#996699" VLINK="#996666" BACKGROUND="{{ STATIC_URL }}old/figs/bgcolor.gif">
   <!-- <BODY BGCOLOR="000000" TEXT="FFFFFF"> -->

   <TABLE BORDER=0 WIDTH=95% HEIGHT=100%>
     <TR>
     <TD ALIGN=CENTER><IMG SRC="{{ STATIC_URL }}old/figs/trans.gif" BORDER=0 WIDTH=10>
     <FONT FACE="HELVETICA" SIZE="5"><B>Sterrenkundig Instituut<BR>
     &nbsp; "Anton Pannekoek"</B></FONT><BR>
     </TD>
     </TR>

     <TR>
     <TD ALIGN=CENTER VALIGN=BOTTOM>
         <FONT FACE=HELVETICA SIZE=3>
         <A HREF="{% url 'home-page' %}" TARGET="_top">
                <IMG ALIGN=BOTTOM SRC="{{ STATIC_URL }}old/figs/bbhome4.gif" BORDER=0 ALT="home">&nbsp; deze pagina</A>
         <IMG ALIGN=BOTTOM SRC="{{ STATIC_URL }}old/figs/trans.gif" WIDTH=20 HEIGHT=30><A HREF="{% url 'search:index' %}" TARGET="_top">
                <IMG ALIGN=BOTTOM SRC="{{ STATIC_URL }}old/figs/bbzoek3.gif" BORDER=0 ALT="zoeken">&nbsp; zoeken</A>
         <IMG ALIGN=BOTTOM SRC="{{ STATIC_URL }}old/figs/trans.gif" WIDTH=20 HEIGHT=30><A HREF="{% url 'home-page' %}" TARGET="_top">
                <IMG ALIGN=BOTTOM SRC="{{ STATIC_URL }}old/figs/uk.gif" BORDER=0 ALT="english">&nbsp;&nbsp;english</A>
         </FONT>
     </TD>
     </TR>
   </TABLE>

   </HTML>

