{% extends "base.html" %}
{% block stylesheets %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}staffmeetings/css/staffmeetings.css" />{% endblock stylesheets %}
{% block banner %}<div id="banner"><h1>Institute staff meetings</h1></div>{% endblock banner %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'staffmeetings:index' %}">Staff meetings</a>
{% endblock breadcrumbs %}
{% block sidemenu %}
{% include "staffmeetings/sidemenu.html" %}
{% endblock sidemenu %}

