{% extends "publiek/onderzoek/base2.html" %}
{% block title %}API - Accretie {% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'publiek:accretion' %}">accretie</a>
{% endblock breadcrumbs %}


{% block contents %}

<h1> De natuurkunde van accretie en accretieschijven </h1>


<h2> Accretie in dubbelsterren </h2>

<p>
Wanneer materie van een begeleidende ster in een dubbelstersysteem wordt
aangetrokken door de zwaartekracht van een compacte ster spreken wij van accretie.
In dubbelsterren komt bij dit proces voornamelijk röntgenstraling vrij.
Met röntgensatellieten wordt de ge-accreteerde materie door astronomen aan
het Anton Pannekoek Instituut bestudeerd, en de eigenschappen van neutronensterren,
zwarte gaten en hun omgeving afgeleid. De ‘gewone’ ster wordt waargenomen
met aardse telescopen die observeren in zichtbaar licht.
</p>

<h2> Accretie en de vorming van jets </h2>

<p>
In dubbelstersystemen waarvan het compacte object een zwart gat is
dat materie aantrekt, kunnen jets worden gedetecteerd. Jets zijn straalstromen
van materie die de ruimte in worden weggeschoten. Het is nog niet duidelijk
waarom jets niet voorkomen bij neutronensterren, en wel bij zwarte gaten.
Aan het Anton Pannekoek Instituut wordt onderzoek gedaan naar de voorwaarden
voor het ontstaan van jets, naar het ontstaansproces waarbij de koppeling
tussen accretie en jets centraal staat en naar de fysische eigenschappen van jets.
Voor dit onderzoek worden modellen en waarnemingen vergeleken.
</p>

<p>
<img src="{{ STATIC_URL }}publiek/images/centaurusA.jpg"></br>
Op deze foto staan het nabije sterrenstelsel Centaurus A en
de tegenovergesteld gerichte jets die door het superzware zwarte gat
in het centrum worden gelanceerd.
De jet linksboven is 13.000 lichtjaar lang.
(credits: X-ray: NASA/CXC/CfA/R.Kraft et al., Radio: NSF/VLA/Univ.
of Hertfordshire/M.Hardcastle et al., Optical: ESO/VLT/ISAAC/M.Rejkuba et al.).
</p>


{% endblock contents %}
