{% extends "publiek/onderzoek/base2.html" %}
{% block title %}API - Compacte Objecten {% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'publiek:compacts' %}">compacte objecten </a>
{% endblock breadcrumbs %}


{% block contents %}


<h1>De natuurkunde van zwarte gaten en neutronensterren</h1>

<h2> Koeling van de korst van neutronensterren </h2>

<p>
Neutronensterren die materie accreteren warmen op.
De warmte die in het binnenste ontstaat ontsnapt in de vorm van
neutrino’s en röntgenstraling. Uit de röntgenstraling is de temperatuur
van het oppervlak van een neutronenster af te leiden.
Astronomen aan het Anton Pannekoek Instituut gebruiken röntgensatellieten
om temperatuurveranderingen van de korst van neutronensterren te bepalen.
Hieruit kan de samenstelling en de structuur van neutronensterren onder
extreme omstandigheden worden bepaald.
</p>

<h2> Bevingen in neutronensterren </h2>

<p>
Ook op neutronensterren vinden bevingen plaats. Deze bevingen laten
hun signatuur achter in het licht dat neutronensterren uitzenden.
Aan het Anton Pannekoek Instituut wordt onderzoek gedaan naar bevingen op magnetars.
Dit zijn neutronensterren met een extreem sterk magneetveld. Door de frequenties
van deze bevingen te bestuderen kunnen eigenschappen van de binnenkant van
neutronensterren worden afgeleid. Hiervoor wordt gebruik gemaakt
van satellieten die gammastraling observeren.
</p>

<h2> Pulsars </h2>

<p>
Pulsars zijn neutronensterren die periodiek een radio- of röntgensignaal uitzenden.
Door deze signalen te bestuderen komen we te weten hoe snel een pulsar ronddraait,
hoe groot zijn massa is en uit welke materie hij bestaat. Door middel van
pulsars kunnen zwaartekrachtstheorieën worden getest onder omstandigheden die
niet op aarde zijn na te bootsen. Aan het Anton Pannekoek Instituut wordt
voornamelijk onderzoek gedaan naar de materie-eigenschappen van neutronensterren
die veelal deel uitmaken van röntgendubbelsterren.
</p>


{% endblock contents %}
