{% extends "publiek/onderzoek/base1.html" %}
{% block title %}API - onderzoek{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'publiek:onderzoek' %}">Onderzoek aan het API</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>Sterrenkundig onderzoek aan het Anton Pannekoek Instituut</h1>

<p>
<img src="{{ STATIC_URL }}publiek/images/api-domes.jpg"></br>
De twee koepels van het Anton Pannekoek Observatorium bovenop
het instituut bij zonsondergang (credits: Rudy Wijnands).
</p>


<p>
Aan het Anton Pannekoek Instituut voor Sterrenkunde (API) dat deel
uitmaakt van de Universiteit van Amsterdam (UVA) wordt
voornamelijk onderzoek gedaan naar extreme natuurkunde in het heelal
en het ontstaan van sterren en planeten.
Dit zijn twee van de drie onderzoeksgebieden waarop de sterrenkunde
in Nederland zich richt. Ook aan de universiteiten in Leiden,
Groningen en Nijmegen wordt sterrenkundig onderzoek gedaan.
Door middel van het samenwerkingsverband ‘Nederlandse Onderzoekschool
voor de Astronomie’ zijn de krachten gebundeld.
Daarnaast spelen de instituten ASTRON en SRON een belangrijke rol.

<table id="research">
<tr>

<td>
<a href="/publiek/onderzoek/extreme/">
   <img src="{{ STATIC_URL }}publiek/images/xrb_CXC.jpg" width=250></br>
    Het heelal als een laboratorium van extreme natuurkunde
</a>
</td>

<td>
<a href="/publiek/onderzoek/live/">
   <img src="{{ STATIC_URL }}publiek/images/protoplanetarydisk.jpg" width=250></br>
    Op weg naar leven: sterren, planeten en hun ontstaan
</a>
</td>

</tr>
</table>

<p>
Aan het API wordt in samenwerking met het Instituut voor
Theoretische Fysica Amsterdam aan de UvA en het Instituut
voor Hoge Energie Fysica onderzoek gedaan naar astro-deeltjesfysica
en kosmologie. Meer informatie over het samenwerkingsverband GRAPPA  is te
vinden op <a href="http://grappa.science.uva.nl/">grappa.science.uva.nl</a>.
</p>


{% endblock contents %}
