{% extends "agenda/base.html" %}
{% block title %}API Agenda - {{ object.title }}{% endblock title %}

{% block contents %}

<form method="POST" action="{% url 'agenda:entry-delete' pk=object.pk slug=object.slug %}">
{% csrf_token %}
<em>{{ object.title }}</em>

<p>
Delete this entry?
</p>
<input type="submit" name="result" value="Delete" />
<input type="button" value="Cancel" onclick="window.location.href='{% url 'agenda:entry-detail' pk=object.pk slug=object.slug %}'" />
</form>
<!-- form style="float: right;" method="GET" action="{% url 'agenda:entry-detail' pk=object.pk slug=object.slug %}"><input type="submit" name="Cancel" value="Cancel" /></form -->
<hr />

<p>

</p>


{% if object.is_public %}
<p class="warning right">This item is visible to the public</p>
{% endif %}

<h1>{{ object.title }}</h1>

<p>
{{ object.date|date:"j F Y" }}
{% if object.enddate %} - {{ object.enddate|date:"j F Y" }} {% endif %}
<br />
This agenda item has been created by {{ object.creator.get_full_name }}.
<hr>
</p>

<p>
{{ object.body_html|safe }}
</p>

{% endblock contents %}
