{% extends "base.html" %}
{% load static %}
{% load template_filters %}

{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}

{% block title %}API - Alumus - {{ alumnus.full_name  }} {% endblock title %}

{% block content %}

<h1 class="text-center">{{ thesis_title }}</h1>

<div class="main-content" role="main">


    <h1 class="text-center"> {{ alumnus.full_name }} </h1>
    <div class="col-xs-9 pull-left">
        <div class="col-xs-3 pull-left"> 
            {% if alumnus.photo %}
            <img src="{{ alumnus.photo.url }}" width="150px" style="margin-top: 46.5px; margin-bottom: 10px; padding-top: 8px;"></img>
            {% else %}
            <img src="{% static 'alumni/img/einstein.jpg' %}" width="150px"></img>
            {% endif %}
        </div>

        <div class="col-xs-8 pull-right"> 
            <h3 class="text-left"> Contact Info </h3>
            <div class="table-responsive">
                <table class="table table-responsive">
                    <thead>
                    </thead>
                    <tbody>
                    <tr><th>Name</th><td>{{ alumnus.full_name }}</td></tr>
                    <tr><th>Email</th><td><a href="mailto:{{ alumnus.email }}">{{ alumnus.email }}</a></td></tr>
                    <tr><th>Position</th><td>{{ alumnus.position }}</td></tr>
                    <tr><th>Office</th><td>{{ alumnus.office }}</td></tr>
                    <tr><th>Phone</th><td>{{ alumnus.work_phone }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12 pull-left">
        <h3 class="text-left"> Theses at API </h3>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            {% for thesis in alumnus.degrees.all %}
            <tr><td>
                {{ thesis.thesis_type|display_thesis_type }}: <a href="{% url 'alumni:thesis-detail' thesis.thesis_slug %}">{{ thesis.thesis_title }} ({{ thesis.date_of_defence|date:"Y" }}) </a>
            </td></tr>
            {% endfor %}
            </tbody>
        </table>
        </div>


        <div class="col-xs-12 pull-left">
        <h3 class="text-left"> Positions at API </h3>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            {% for api_position in alumnus.positions.all %}
                <tr>
                    <td>{{ api_position }} </td>
                    <td>{{ api_position.date_start }} </td>
                    <td>{{ api_position.date_stop }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

    <div class="col-xs-3 pull-right text-left">
        {% get_supervisors alumnus as supervisors %}
        {% if supervisors.0 %}
        <h3 class="text-left"> Thesis Advisors </h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                </thead>
                <tbody>
                {% for supervisor, date_of_defence in supervisors %}
                <tr><td style="padding-left: 0px;"><a href="{% url 'alumni:alumnus-detail' supervisor.slug %}">{{ supervisor.full_name }}
                    ({{ date_of_defence|date:"Y" }}) </a></td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% get_students alumnus "phd" as phd_students %}
        {% if phd_students.0 %}
        <h3 class="text-left">PhD Students </h3>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            {% for phd_student, date_of_defence in phd_students  %}
            <tr><td style="padding-left: 0px;"><a href="{% url 'alumni:alumnus-detail' phd_student.slug %}">{{ phd_student }} ({{ date_of_defence|date:"Y" }})</a></td></tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% get_students alumnus "msc" as msc_students %}
        {% if msc_students.0 %}
        <h3 class="text-left">MSc Students </h3>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            {% for msc_student, date_of_defence in msc_students  %}
            <tr><td style="padding-left: 0px;"><a href="{% url 'alumni:alumnus-detail' msc_student.slug %}">{{ msc_student }}
                ({{ date_of_defence|date:"Y" }}) </a></td></tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    {% if alumnus.biography %}
    <div class="col-xs-12 pull-right text-justify" style="padding-left: 15px;">
        {% autoescape off %}
            {{ alumnus.biography }}
        {% endautoescape %}
    </div>
    {% endif %}

    <div class="col-xs-12 pull-left" style="padding-left: 15px; margin-bottom: 75px;">
        <h3 class="text-left"> Five most recent publications </h3>
    </div>


</div>
{% endblock content %}
