{% extends "base.html" %}
{% load bootstrap3 %}
{% load template_filters %}
{% load search_tags %}

{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}

{% block title %} API - Alumni - People {% endblock title %}

{% block content %}

<div class="main-content" role="main">
    {% bootstrap_messages %}

    {# Filters #}
    {# TODO: margin auto 0 to center #}
    <div class="col-md-12 text-center">
        <ul class="nav nav-pills selector-nav center-pills">
            {# Degree type dropdown menu #}
            {% get_degree_types as degrees %}
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Degree Type <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% filter_objects 'type' 'None' %}"><i> No filter </i></a></li>
                    {% for type in degrees %}
                    {# Reset possible old filter and add store filter #}
                    <li>
                        <a href="{% filter_objects 'type' type.0 %}" class="menu-link">
                            <div class="menu-text"> {{ type.1 }} </div>
                            <img class="check-box" src="{% check_dropdown 'type' type.0 %}">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>

            {# Defence year dropdown menu #}
            {% get_defence_years as years %}
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Year <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% filter_objects 'year' 'None' %}"><i> No filter </i></a></li>
                    {% for year in years %}
                    {# Reset possible old filter and add store filter #}
                    <li>
                        <a href="{% filter_objects 'year' year.1 %}" class="menu-link">
                            <div class="menu-text"> {{ year.0 }} </div>
                            <img class="check-box" src="{% check_dropdown 'year' year.1 %}">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>

<!--             {# Allow to sort #}
            {% get_sorting_options as sort_order_options %}
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Sort Order <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% filter_objects 'sort' 'None' %}"><i> No filter </i></a></li>
                    {% for order in sort_order_options %}
                    {# Reset possible old filter and add store filter #}
                    <li>
                        <a href="{% filter_objects 'sort' order.1 %}" class="menu-link">
                            <div class="menu-text"> {{ order.0 }} </div>
                            <img class="check-box" src="{% check_dropdown 'sort' order.1 %}">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li> -->
        </ul>
    </div>
    {# End Filters #}

    <div class="col-xs-12 filter-col">
        {% get_active_filters as active_filters %}

        {# Reset all filters button #}
        {% if active_filters %}
            <a class="dropdown-toggle" href="{% url 'alumni:alumnus-list' %}" aria-haspopup="true" aria-expanded="false">
                <button type="button" class="btn btn-danger">
                    Reset All Filters <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </a>
        {% endif %}

        {# Display button for active filters #}
        {% for filter_type, filter_value in active_filters %}
        <a href="{% filter_objects filter_type filter_value %}">
            <button type="button" class="btn btn-danger filter-btn" href="#">
                {% if filter_type == "year" %}
                    {% get_yearrange filter_value as yearrange %}
                        {{ filter_type|capitalize_filter_type }}: {{ yearrange }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% elif filter_type == "type" %}
                    {{ filter_type|capitalize_filter_type }}: {{ filter_value|display_thesis_type }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {# Little hack here, so the sort filter can be active, but we display it as a type filter button #}
                {% elif filter_type == "sort" %}
                    {{ "type"|capitalize_filter_type }}: {{ filter_value|display_sort_type }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% else %}
                    {{ filter_type }}: {{ filter_value }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% endif %}
            </button>
        </a>
        {% endfor %}
    </div>

-    {% get_active_sort as active_sort %} 
    <div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-bordered">
            <tr>
            {# Alumnus sort #}
            <th class="col-xs-5 table-bordered">
                {% if active_sort == 'alumnus_az' %}
                    <a href="{% filter_objects 'sort' 'alumnus_za' %}" style="display: block; color: black;"> Alumnus
                    <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes"></i></span></a>
                {% elif active_sort == 'alumnus_za' %}
                    <a href="{% filter_objects 'sort' 'alumnus_az' %}" style="display: block; color: black;"> Alumnus
                    <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span></a>
                {% else %}
                    <a href="{% filter_objects 'sort' 'alumnus_za' %}" style="display: block; color: black;"> Alumnus
                    <span style="float:right;"><i class="glyphicon glyphicon-sort"></i></span></a>
                {% endif %}
            </th>
            {# msc sort #}
            <th class="col-xs-1 table-bordered">
                {% if active_sort == 'msc_lh' %}
                    <a href="{% filter_objects 'sort' 'msc_hl' %}" style="display: block; color: black;"> MSc
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes"></i></span></a>
                {% elif active_sort == 'msc_hl' %}
                    <a href="{% filter_objects 'sort' 'msc_lh' %}" style="display: block; color: black;"> MSc
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span></a>
                {% else %}
                    <a href="{% filter_objects 'sort' 'msc_hl' %}" style="display: block; color: black;"> MSc
                        <span style="float:right;"><i class="glyphicon glyphicon-sort"></i></span></a>
            </th>
            {% endif %}
            {# phd sort #}
            <th class="col-xs-1 table-bordered">
                {% if active_sort == 'phd_lh' %}
                    <a href="{% filter_objects 'sort' 'phd_hl' %}" style="display: block; color: black;"> PhD
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes"></i></span></a>
                {% elif active_sort == 'phd_hl' %}
                    <a href="{% filter_objects 'sort' 'phd_lh' %}" style="display: block; color: black;"> PhD
                    <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span></a>
                {% else %}
                    <a href="{% filter_objects 'sort' 'phd_hl' %}" style="display: block; color: black;"> PhD
                        <span style="float:right;"><i class="glyphicon glyphicon-sort"></i></span></a>
                {% endif %}
            </th>
            {# postdoc sort #}
            <th class="col-xs-1 table-bordered">
                {% if active_sort == 'pd_lh' %}
                    <a href="{% filter_objects 'sort' 'pd_hl' %}" style="display: block; color: black;"> Postdoc
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes"></i></span></a>
                {% elif active_sort == 'pd_hl' %}
                    <a href="{% filter_objects 'sort' 'pd_lh' %}" style="display: block; color: black;"> Postdoc
                    <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span></a>
                {% else %}
                    <a href="{% filter_objects 'sort' 'pd_hl' %}" style="display: block; color: black;"> Postdoc
                        <span style="float:right;"><i class="glyphicon glyphicon-sort"></i></span></a>
                {% endif %}
            </th>

            <th class="col-xs-2 table-bordered">
                {% if active_sort == 'staff_lh' %}
                    <a href="{% filter_objects 'sort' 'staff_hl' %}" style="display: block; color: black;"> Staff
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes"></i></span></a>
                {% elif active_sort == 'staff_hl' %}
                    <a href="{% filter_objects 'sort' 'staff_lh' %}" style="display: block; color: black;"> Staff
                    <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span></a>
                {% else %}
                    <a href="{% filter_objects 'sort' 'staff_hl' %}" style="display: block; color: black;"> Staff
                        <span style="float:right;"><i class="glyphicon glyphicon-sort"></i></span></a>
                {% endif %}
            </th>

            <th class="col-xs-2 table-bordered">
                {% if active_sort == 'obp_lh' %}
                    <a href="{% filter_objects 'sort' 'obp_hl' %}" style="display: block; color: black;"> Support Staff
                        <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes"></i></span></a>
                {% elif active_sort == 'obp_hl' %}
                    <a href="{% filter_objects 'sort' 'obp_lh' %}" style="display: block; color: black;"> Support Staff
                    <span style="float:right;"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span></a>
                {% else %}
                    <a href="{% filter_objects 'sort' 'obp_hl' %}" style="display: block; color: black;"> Support Staff
                        <span style="float:right;"><i class="glyphicon glyphicon-sort"></i></span></a>
                {% endif %}
            </th>

            </tr>
        </thead>
        <tbody>
            {% include "alumni/alumnus_paginator.html" %}
            {# Add the content #}
            <h2 class="text-center">Total number of alumni: {{ alumni.paginator.count }}</h2>
            {% for alumnus in alumni %}
            <tr>
                <td><a href="{% url 'alumni:alumnus-detail' alumnus.slug %}">{{ alumnus.full_name_no_title }}</a></td>
                    <td class="text-center">
                    {% for degree in alumnus.degrees.all %}
                        {% if degree.type == 'msc'%}
                            {% if degree.date_of_defence %} {{ degree.date_of_defence|date:"Y" }} {% else %}
                            <i class="fa fa-question">{% endif %}
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-center">
                    {% for degree in alumnus.degrees.all %}
                        {% if degree.type == 'phd'%}
                            {% if degree.date_of_defence %} {{ degree.date_of_defence|date:"Y" }} {% else %}
                            <i class="fa fa-question">{% endif %}
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td class="text-center"> {% get_postdoc_year alumnus %} </td>
                    <td class="text-center"> {% get_staff_year alumnus %} </td>
                    <td class="text-center"> {% get_obp_year alumnus %} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% include "alumni/alumnus_paginator.html" %}
</div>
{% endblock content %}
