{% extends "alumni/base.html" %}
{% block title %}API - Alumni{% endblock title %}

{% block contents %}
<h1>Alumni at the Anton Pannekoek Institute</h1>


<p>
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mi magna, tincidunt quis tellus sit amet, aliquet feugiat ipsum. Mauris mollis luctus nisl sed sodales. Proin id elit blandit, accumsan nisl sed, aliquam libero. Morbi iaculis commodo lectus, suscipit porta enim sollicitudin sed. Praesent mollis ac metus quis rhoncus. Suspendisse vel dolor ultrices, porttitor ex vitae, bibendum lacus. Proin ante purus, suscipit id lectus vitae, ultricies efficitur urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis volutpat finibus odio at placerat. Duis lobortis nibh sed tincidunt laoreet. Vivamus pulvinar lacus lorem, in dapibus ipsum bibendum ut.

</p>


{% endblock contents %}




